.back-dots {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  @media (max-width: 1279px) {
    background-image: none;
  }
  &--1 {
    background-image: url("../img/dots1-back.png");
  }
  &--2 {
    background-image: url("../img/dots2-back.png");
  }
  &--3 {
    background-image: url("../img/dots3-back.png");
  }
  &--4 {
    background-image: url("../img/dots4-back.png");
  }
  &--5 {
    background-image: url("../img/dots5-back.png");
  }
}

.back-map {
  background-image: url(../img/map-back.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  @media (max-width: 1919px) {
    background-position: top 100px right;
  }
  @media (max-width: 1279px) {
    background-position: top 200px right;
  }
}