.block-rating {
  display: flex;
  align-items: center;
  background: #f2f4f6;
  border: 2px solid #e6e6e8;
  border-radius: 8px;
  padding: 16px;
  gap: 22px;
  justify-content: space-between;
  svg {
    width: 33px;
    height: 33px;
    cursor: pointer;
  }
}