.blur {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(232, 241, 249, 0.2);
}

@supports (backdrop-filter: blur(10px)) {
  .blur {
    backdrop-filter: blur(10px);
  }
}

@supports not (backdrop-filter: blur(10px)) {
  .blur {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
