.grid {
  position: relative;
  display: grid;
  // grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(4, minmax(368px, 1fr));
  grid-gap: 16px;
  @media (max-width: 1919px) {
    grid-template-columns: repeat(3, minmax(349px, 1fr));
  }
  @media (max-width: 1279px) {
    grid-template-columns: repeat(2, minmax(356px, 1fr));
  }
  @media (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
  }
}
