.information {
  .title {
    font-size: 60px;
    line-height: 1.1;
    @media (max-width: 1919px) {
      font-size: 50px;
    }
    @media (max-width: 767px) {
      font-size: 32px;
    }
  }
  p {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-dark-text);
    line-height: 1.6;
    margin-bottom: 20px;
    margin-top: 0;
    &:last-child {
      margin-bottom: 30px;
    }
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
  h2 {
    font-size: 45px;
    font-weight: 400;
    color: var(--color-black-text);
    margin-bottom: 30px;
    @media (max-width: 1279px) {
      font-size: 40px;
    }
    @media (max-width: 767px) {
      font-size: 28px;
      margin-bottom: 20px;
    }
  }
  h3 {
    font-size: 36px;
    font-weight: 400;
    color: var(--color-black-text);
    margin-bottom: 30px;
    @media (max-width: 1279px) {
      font-size: 30px;
    }
    @media (max-width: 767px) {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }
  h4 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
    @media (max-width: 767px) {
      font-size: 20px;
    }
  }
  h5 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  h6 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
  figure {
    margin-top: 0;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  figcaption {
    font-size: 18px;
    font-weight: 400;
    color: var(--color-black-text);
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
}

.information__banner {
  img {
    border-radius: 8px;
    overflow: hidden; 
  }
}

.information__descr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  @media (max-width: 1919px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.information__block {
  background: rgba(27, 63, 94, 0.06);
  border: 1px solid rgba(27, 63, 94, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  span {
    &:first-child {
      font-size: 36px;
      font-weight: 400;
      color: var(--color-blue-back);
      @media (max-width: 767px) {
        font-size: 24px;
      }
    }
    &:last-child {
      font-size: 16px;
      font-weight: 400;
      color: var(--color-dark-text);
      line-height: 1.4;
      @media (max-width: 767px) {
        font-size: 14px;
      }
    }
  }
}

.information__quote {
  position: relative;
  // padding-left: 55px;
  // padding-right: 55px;
  // margin-top: 80px;
  // margin-bottom: 80px;
  p {
    position: relative;
    padding-left: 55px;
    padding-right: 55px;
    font-size: 24px;
    line-height: 1.44;
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      background-image: url("../img/svg/bucket-left.svg");
      top: 0;
      left: 0;
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      background-image: url("../img/svg/bucket-right.svg");
      bottom: 0;
      right: 0;
    }
    @media (max-width: 767px) {
      font-size: 20px;
      padding-left: 35px;
      padding-right: 35px;
    }
  }
}
