.main-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: white;
  z-index: 100;
  padding-top: 43px;
  padding-bottom: 112px;
  display: none;
  &.active {
    display: block;
    z-index: 1000;
    overflow-y: auto;
  }
  @media (max-width: 1919px) {
    padding-bottom: 70px;
  }
  @media (max-width: 767px) {
    padding-bottom: 30px;
  }
}

.main-menu__close {
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: var(--color-blue-back);
  display: flex;
  align-items: center;
  justify-content: center;
  left: 24px;
  top: 30px;
  cursor: pointer;
  @media (max-width: 1279px) {
    background-color: transparent;
    top: 38px;
    right: 0;
    left: auto;
  }
  svg {
    path {
      @media (max-width: 1279px) {
        fill: #2f5372;
      }
    }
  }
}

.main-menu__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.main-menu__social {
  display: flex;
  gap: 15px;
}

.main-menu__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-menu__title {
  color: var(--color-grey-text);
  font-size: 45px;
  // margin-bottom: 40px;
  font-weight: 400;
  @media (max-width: 1279px) {
    display: none;
  }
}

.main-menu__inner {
  position: relative;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  flex: 1 0 auto;
  // max-height: 896px;
  // height: 100%;
  // height: auto;
  // min-height: 100%;
  @media (max-width: 767px) {
    height: auto;
  }
}

.main-menu__nav {
  padding: 20px 10px;
  background-color: rgba(27, 63, 94, 0.06);
  border: 1px solid rgba(27, 63, 94, 0.1);
  max-width: 496px;
  border-radius: 8px;
  height: 100%;
  max-width: 496px;
  width: 100%;

  & > a {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(70, 70, 94, 1);
    padding-left: 30px;
    padding-right: 10px;
    font-size: 20px;
    border-radius: 4px;
    cursor: default;
    &[href] {
      cursor: pointer;
    }
    &:hover {
      color: var(--color-blue-hover);
      background-color: white;
      svg {
        path {
          fill: var(--color-blue-hover);
          fill-opacity: 1;
        }
      }
    }
    &:nth-child(3n) {
      border-bottom: 1px solid #e6e6e8;
    }
  }
  @media (max-width: 1919px) {
    max-width: 349px;
  }
  @media (max-width: 1279px) {
    max-width: 294px;
  }
  @media (max-width: 767px) {
    max-width: 100%;
    padding: 20px 10px;
  }
}

// .main-menu__sub-menu {
//   opacity: 0;
//   display: flex;
//   flex-direction: column;
//   a {
//     color: var(--color-dark-text);
//     font-size: 20px;
//   }
// }

.main-menu__submenu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  gap: 8px;
  // padding: 10px;
  padding: 0;
  border: 1px solid #e6e6e8;
  border-radius: 8px;
  a {
    color: var(--color-dark-text);
    height: 44px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    &:hover {
      color: var(--color-blue-hover);
    }
  }
  @media (max-width: 767px) {
    opacity: 1;
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 100%;
    display: none;
  }
}

// .main-menu__links {
//   display: none;
//   &.active {
//     display: block;
//   }
// }

.main-menu__links {
  padding: 10px;
}

.main-menu__links:not(:first-child) {
  display: none;
}

@media (max-width: 767px) {
  .main-menu__links:first-child {
    display: none;
  }
}

.main-menu__btns {
  display: flex;
  width: 100%;
  gap: 10px;
  margin-top: 20px;
  padding-bottom: 40px;
  // margin-top: auto;
  & > * {
    width: 50%;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.main-menu__back {
  display: none;
  // display: flex;
  align-items: center;
  gap: 11px;
  color: #1b3f5e;
  font-size: 20px;
  font-weight: 400;
}
