.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 720px;
    width: 100%;
    padding: 64px 32px;
    background-color: #f4fbff;
    border-radius: 16px;
    display: none;
    max-height: calc(100vh - 110px);
    overflow: auto;
    z-index: 10;
    scrollbar-width: auto;
    &::-webkit-scrollbar {
        width: 4px;
        // background-color: #333;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #333;
        border-radius: 9em;
        box-shadow: inset 1px 1px 10px #f3faf7;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: #000;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin-bottom: 0;
    }

    &.active {
        display: flex;
        flex-direction: column;
    }

    @media(max-width: 767px) {
        padding: 40px 16px;
        width: calc(100vw - 16px);
    }
}

.modal-send {
    flex-direction: column;
    gap: 32px;
    display: none;
    padding: 64px 32px;

    h3 {
        margin: 0;
    }

    img {
        width: 64px;
    }

    p {
        text-align: center;
    }

    @media(max-width: 767px) {
        gap: 16px;
    }

    &.active {
        display: flex;
        align-items: center;
    }
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.modal-form__inputs {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.modal__row {
    display: flex;
    flex-direction: column;
    gap: 12px;

    input {
        height: 50px;
        padding: 0 16px;
        border-radius: 6px;
        border: 1px solid #d7dbdf;
        outline: none;
    }

    textarea {
        outline: none;
        resize: none;
        height: 156px;
        border-radius: 6px;
        padding: 12px 16px;
        border: 1px solid #d7dbdf;
    }
}

.modal__checks {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 14px;

    li {
        display: flex;
        align-items: center;
    }

    label {
        padding-right: 0;
        padding-left: 56px;
        display: inline;
        line-height: 1.2;

        &:after {
            left: 0;
        }

        @media(max-width: 767px) {
            font-size: 14px;
            padding-left: 48px;
        }
    }
}

.modal__flex {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    @media(max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.modal__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;

    @media(max-width: 767px) {
        grid-template-columns: 1fr;
    }
}

.modal__col {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 360px;
    width: 100%;
    flex: 1 0 auto;
}

.modal__file {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 121px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #d7dbdf;
    padding: 24px;

    input {
        position: absolute;
        visibility: hidden;
        opacity: 0;
    }

    label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.modal__file-text {
    text-align: center;
    color: #687076;
    font-size: 14px;
    font-weight: 600;
}

.modal__login {
    text-align: center;
    @media(max-width: 767px) {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.modal__login-pic {
    width: 50px;
    height: 50px;
    align-self: center;
    margin-bottom: 30px;
}

.modal__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
    button {
        min-width: 220px;
        text-align: center;
        justify-content: center;
        @media(max-width: 767px) {
            min-width: 100%;
        }
    }
    @media(max-width: 767px) {
        flex-direction: column;
    }
}
