.news-catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px 15px;
  margin-bottom: 70px;
  @media (max-width: 1919px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.news-catalog__pic {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  height: 240px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.news-catalog__date {
  margin-bottom: 10px;
  color: var(--color-grey-text);
  font-size: 18px;
  font-weight: 400;
}

.news-catalog__text {
  color: var(--color-blue-text);
  line-height: 1.2;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease;
  @media (max-width: 767px) {
    font-size: 14px;
  }
  &:hover {
    color: #6B8FAE;
    transition: all 0.3s ease;
  }
}

.news-catalog__item {
  @media (max-width: 1279px) {
    // max-height: 420px;
    // height: 100%;
  }
}
