.news-grid {
  display: grid;
  grid-template-columns: 496px auto;
  grid-template-areas:
    "news-item-big news-item-2"
    "news-item-big news-item-3"
    "news-item-big news-item-4";
  grid-gap: 30px 50px;
  @media (max-width: 1919px) {
    grid-template-columns: 441px auto;
  }
  @media (max-width: 1279px) {
    display: flex;
    flex-direction: column;
  }
}

.news-grid__item {
  display: flex;
  gap: 20px;
  img {
    border-radius: 8px;
    object-fit: cover;
    @media (max-width: 1279px) {
      height: 156px;
    }
    @media (max-width: 767px) {
      height: 200px;
    }
  }
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.news-grid__item--big {
  grid-area: news-item-big;
  display: flex;
  flex-direction: column;
  background-color: rgba(27, 63, 94, 0.06);
  padding: 40px 30px;
  border-radius: 8px;
  img {
    object-fit: contain;
    @media (max-width: 1279px) {
      height: 223px;
    }
    @media (max-width: 767px) {
      height: 186px;
    }
  }
  @media (max-width: 767px) {
    padding: 20px;
  }
}

.news-grid__item:nth-child(2) {
  grid-area: news-item-2;
}
.news-grid__item:nth-child(3) {
  grid-area: news-item-3;
}
.news-grid__item:nth-child(4) {
  grid-area: news-item-4;
}

.news-grid__col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.news-grid__date {
  color: var(--color-grey-text);
  font-size: 18px;
}

.news-grid__content {
  color: var(--color-blue-text);
  line-height: 1.2;
  font-size: 18px;
  font-weight: 500;
  @media (max-width: 767px) {
    font-size: 14px;
  }
  &:hover {
    color: #6B8FAE;
  }
}

.news-grid__title {
  font-size: 24px;
  font-weight: 400;
  color: var(--color-blue-text);
  @media (max-width: 767px) {
    font-size: 18px;
  }
}
