.pagination {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  a {
    width: 48px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: #2D83B6;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    &.active {
      background-color: #2D83B6;
      color: white;
    }
  }
}
