.result {
  h3 {
    margin-bottom: 48px;
    @media (max-width: 767px) {
      margin-bottom: 32px;
    }
  }
}

.result__inner {
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 1200px;
  @media (max-width: 767px) {
    gap: 32px;
  }
}

.result__item {
  display: flex;
  flex-direction: column;
  gap: 16px;

  h6 {
    margin-bottom: 0;
  }
  h4 {
    color: var(--low-contrast-text, #015c93);
    font-family: Craftwork Grotesk;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%; /* 28px */
    text-decoration-line: underline;
    margin-bottom: 0;
  }
}
