.reviews__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.reviews-item {
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding: 30px 65px;
  border-radius: 8px;
  background: rgba(27, 63, 94, 0.06);
  border: 1px solid rgba(27, 63, 94, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid #e6e6e8;
  @media (max-width: 1279px) {
    gap: 15px;
    padding: 20px 55px;
  }
  @media (max-width: 767px) {
    padding: 20px 45px;
  }
}

.reviews-item__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.reviews-item__name {
  display: flex;
  color: var(--color-black-text);
  font-size: 24px;
  font-weight: 400;
}

.reviews-item__text {
  color: var(--color-dark-text);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.44;
  position: relative;
  // padding-left: 35px;
  // padding-right: 35px;
  p {
    margin: 0;
  }
  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../img/svg/bucket-left.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    left: -35px;
    top: 0;
  }
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../img/svg/bucket-right.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    right: -35px;
    bottom: 0;
  }
  @media (max-width: 767px) {
    font-size: 20px;
  }
}

.revews-item__date {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-grey-text);
}

.reviews-item__star {
  width: 128px;
  height: 36px;
  background-color: white;
  border-radius: 4px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  svg.star-active {
    path {
      fill: #466a85;
      stroke: #466a85;
    }
  }
}
