.search-page__content {
  display: flex;
  flex-direction: column;
  .item {
    background: rgba(27, 63, 94, 0.06);
    border: 1px solid rgba(27, 63, 94, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 30px;
    @media (max-width: 767px) {
      padding: 20px;
    }
  }
  .item__name {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-dark-text);
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .item__breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: var(--color-grey-text);
    font-size: 16px;
    font-weight: 400;
    gap: 8px 0;
    span {
      margin: 0 8px;
      width: 8px;
      height: 8px;
      background-color: var(--color-grey-text);
      border-radius: 50%;
    }
  }
  button {
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

.search-page__head {
  display: flex;
  gap: 16px;
  margin-bottom: 50px;
  input {
    padding: 0 35px;
    outline: none;
    border: 1px solid #1b3f5e;
    border-radius: 8px;
    background: #f2f4f6;
    flex: 1 0 auto;
    max-width: 789px;

    &::placeholder {
      font-size: 16px;
      font-weight: 500;
      color: var(--color-dark-text);
    }
    @media (max-width: 1919px) {
      max-width: 100%;
    }
    @media (max-width: 767px) {
      height: 55px;
    }
  }
  @media (max-width: 1279px) {
    margin-bottom: 30px;
  }
  @media (max-width: 767px) {
    flex-direction: column;
  }
}
