.services-search {
  position: relative;
  background-color: #f2f4f6;
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 16px;
  // gap: 16px;
  margin-bottom: 30px;
  input,
  select {
    border-radius: 8px;
    padding: 0 25px;
    flex: 1 0 auto;
    outline: none;
    background-color: white;
    &::placeholder {
      color: var(--color-black-text);
    }
    &:focus {
      outline: 1px solid #1b3f5e;
    }
    @media (max-width: 767px) {
      height: 50px;
    }
  }
  .custom-select {
    max-width: 650px;
    width: 100%;
    @media (max-width: 1919px) {
      max-width: 430px;
    }
    @media (max-width: 1279px) {
      max-width: 268px;
    }
    @media (max-width: 767px) {
      max-width: 100%;
      height: 50px;
      font-size: 14px;
    }
  }
  @media (max-width: 1279px) {
    padding: 10px;
  }
}

.services-search__head {
  display: flex;
  // padding: 24px;
  border-radius: 16px;
  gap: 16px;
  @media (max-width: 1279px) {
    // padding: 10px;
  }
  @media (max-width: 767px) {
    flex-direction: column;
  }
}
