.services {
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 120px;
  }
}

.tabs-cotent {
  display: none;
  &.active {
    display: block;
  }
}

.tabs-caption {
  li {
    cursor: pointer;
  }
}

.services__tabs {
  position: relative;
  display: flex;
  margin-bottom: 50px;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #e6e6e8;
    bottom: 0;
    left: 0;
  }
  li {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: var(--color-grey-text);
    text-transform: uppercase;
    padding: 20px 40px;
    &.active {
      color: var(--color-blue-text);
      border-bottom: 4px solid var(--color-blue-hover);
      z-index: 10;
    }
    &:hover {
      color: #6b8fae;
      border-color: #6b8fae;
    }
    @media (max-width: 767px) {
      font-size: 14px;
      padding: 20px 10px;
    }
  }
  @media (max-width: 767px) {
    margin-bottom: 30px;
  }
}

// .services__grid {
//   display: grid;
//   // grid-template-columns: repeat(4, 1fr);
//   grid-template-columns: repeat(4, minmax(368px, 1fr));
//   grid-gap: 16px;
//   @media (max-width: 1919px) {
//     grid-template-columns: repeat(3, minmax(349px, 1fr));
//   }
//   @media (max-width: 1279px) {
//     grid-template-columns: repeat(2, minmax(356px, 1fr));
//   }
//   @media (max-width: 767px) {
//     grid-template-columns: 1fr 1fr;
//   }
// }

.services__item {
  padding: 30px;
  border-radius: 8px;
  background: rgba(27, 63, 94, 0.06);
  border: 1px solid rgba(27, 63, 94, 0.1);
  backdrop-filter: blur(10px);
  min-height: 368px;
  // height: 368px;
  display: flex;
  flex-direction: column;
  svg {
    margin-left: auto;
    margin-top: auto;
  }
  &:hover {
    background: var(--color-blue-back);
    transition: all 0.3s ease;
    .services__title,
    .services__text {
      color: white;
    }
    svg {
      path {
        fill: white;
      }
    }
  }
  @media (max-width: 1919px) {
    min-height: 349px;
    // height: 349px;
    padding: 20px;
  }
  @media (max-width: 767px) {
    padding: 10px;
    min-height: 172px;
    // height: 172px;
    border-radius: 4px;
  }
  &--empty {
    background-color: transparent;
    padding: 0;
    border: none;
    outline: none;
    &:hover {
      background-color: transparent;
    }
  }
}

.services__title {
  color: var(--color-black-text);
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 10px;
  @media (max-width: 767px) {
    font-size: 14px;
    word-break: break-word;
  }
}

.services__text {
  color: #46465e;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  @media (max-width: 767px) {
    display: none;
  }
}

.services__head {
  padding: 30px;
  font-size: 45px;
  font-weight: 400;
  color: var(--color-blue-back);
  border-radius: 8px;
  background: rgba(27, 63, 94, 0.06);
  border: 1px solid rgba(27, 63, 94, 0.1);
  backdrop-filter: blur(10px);
  margin-bottom: 50px;
  @media (max-width: 1919px) {
    font-size: 36px;
  }
  @media (max-width: 1279px) {
    padding: 20px;
    margin-bottom: 30px;
  }
  @media (max-width: 767px) {
    font-size: 24px;
    padding: 10px;
  }
}
