.site-title {
  max-width: 880px;
  width: 100%;
  align-self: center;
  p {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    @media (max-width: 1919px) {
      margin-bottom: 10px;
    }
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
  h1 {
    font-size: 64px;
    font-weight: 400;
    @media (max-width: 1919px) {
      font-size: 50px;
    }
    @media(max-width: 767px) {
      font-size: 32px;
    }
  }
  @media (max-width: 1919px) {
    max-width: 623px;
  }
  @media (max-width: 1279px) {
    max-width: 100%;
  }

}
