.tabs-content {
  display: none;
  position: relative;
  &.active {
    display: grid;
  }
}

.box-spacer {
  flex: 1;
  display: grid;
  gap: 16px;
  position: absolute;
  z-index: -1;
  span {
    // background-image: url("../img/empty-block.png");
    // background-repeat: no-repeat;
    // background-position: center;
    position: relative;
    border: 4px solid rgba(27, 63, 94, 0.2);
    border-radius: 8px;
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 70%;
      height: calc(100% + 8px);
      top: -4px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #fff;
      z-index: 1000;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 70%;
      width: calc(100% + 8px);
      left: -4px;
      top: 50%;
      transform: translateY(-50%);
      background-color: #fff;
      z-index: 1000;
    }
    @media (max-width: 767px) {
      border-radius: 4px;
    }
  }
  @media (max-width: 767px) {
    grid-gap: 8px;
  }
}

// .box-spacer span {
//   display: block;
//   flex: 1;
//   border: 1px solid red;
//   position: relative;
// }

// .box-spacer span::before,
// .box-spacer span::after {
//   content: "";
//   background: #fff;
//   position: absolute;
//   width: 70%;
//   display: block;
//   top: -2px;
//   bottom: -2px;
//   left: 50%;
//   transform: translateX(-50%);
// }
