footer.footer
  ._container 
    .footer__inner 
      .footer__top
        .footer__col 
          h5 О центре
          a(href="") Информация
          a(href="news.html") Новости
          a(href="vacancy.html") Вакансии
          a(href="licenses.html") Лицензии
          a(href="") Контролирующие органы 
        .footer__col 
          h5 Пациентам
          a(href="reviews.html") Отзывы 
          a(href="article.html") Статьи
          a(href="") Акции
          a(href="contacts.html") Контакты
        .footer__col 
          h5 Услуги
          a(href="") Консультации врачей
          a(href="diagnostics.html") Диагностика
          a(href="analyzes.html") Анализы
        .footer__col
          h5 Адреса
          ul 
            li 
              p Москва, Варварка улица, дом 3
              a(href="tel:+7 471 255 55 55") +7 471 255 55 55 
            li 
              p Москва, Велозаводская улица, дом 13
              a(href="tel:+7 471 255 55 55") +7 471 255 55 55 
            li  
              p Москва, Велозаводская улица, дом 10
              a(href="tel:+7 471 255 55 55") +7 471 255 55 55 



      .footer__bottom 
        a(href="index.html")
          img(src="img/logo_white_color.svg" alt="") 
        .footer__links.footer__links--desctop
          a(href="") Политика конфиденциальности
          a(href="") Пользовательское соглашение
          a(href="") Обработка персональных данных
        .footer__social 
          a(href="") 
            img(src="img/icons/icn_m_vk_blue.svg" alt="")
          a(href="") 
            img(src="img/icons/icn_m_ok_blue.svg" alt="")

      .footer__links.footer__links--mobile
        a(href="") Политика конфиденциальности
        a(href="") Пользовательское соглашение
        a(href="") Обработка персональных данных

.up#up
  img(src="img/icons/arrowUp.svg" alt="")

.overlay

include ../modals/modal-review
include ../modals/modal-review-send
include ../modals/modal-vacancy-send
include ../modules/menu
include ../modals/modal-login
include ../modals/modal-city