header.header 
  .header-top 
    ._container 
      .header-top__wrapper
        .header-top__el
          img(src="img/icons/icn_m_location_on.svg" alt="")
          span Ваш город:
          a#cityBtn Бобруйск
        .header-top__col 
          .header-top__el
            img(src="img/icons/icn_m_visibility.svg" alt="")
            a.header-top__link Версия для слабовидящих
          .header-top__el.header-top__phone 
            img(src="img/icons/icn_m_ad_units.svg" alt="")
            a(href="tel:+7 471 255 55 55") +7 471 255 55 55
          .header-top__social 
            a(href="" target="_blank") 
              img(src="img/icons/icn_m_vk.svg" alt="")
            a(href="" target="_blank") 
              img(src="img/icons/icn_m_ok.svg" alt="")
  .header-bottom
    ._container 
      .header-bottom__wrapper
        a(href="index.html").header-bottom__logo
          img(src="img/logo_main_color.svg" alt="") 
        .header-bottom__phone
          img(src="img/icons/icn_m_ad_units_black.svg" alt="")
          a(href="tel:+7 471 255 55 55") +7 471 255 55 55
        .header-bottom__nav 
          ul.main-nav 
            li.item
              a
                span Услуги
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M12 15L7 10H17L12 15Z" fill="#0B2C40"/></svg>
              .main-nav__submenu 
                .main-nav__submenu-inner
                    a(href="diagnostics.html") Диагностика
                    a(href="analyzes.html") Анализы
                    a(href="") Консультации
            li.item
              a
                span О центре
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M12 15L7 10H17L12 15Z" fill="#0B2C40"/></svg>
              .main-nav__submenu
                .main-nav__submenu-inner 
                    a(href="diagnostics.html") Диагностика
                    a(href="analyzes.html") Анализы
                    a(href="") Консультации
            li.item
              a(href="reviews.html") Отзывы
            li.item
              a(href="article.html") Статьи
            li.item
              a(href="") Акции
            li.item
              a(href="contacts.html") Контакты

            li.dd_menu
              a.dropdown-toggle(type='button') 
                span Ещё
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M12 15L7 10H17L12 15Z" fill="#0B2C40"/></svg>
              .main-nav__submenu-wrapper.main-nav__submenu
                ul.main-nav__submenu__other.main-nav__submenu-inner
        .header-bottom__actions
          .header-bottom__btn#search.search
            .search__unactive 
              img(src="img/icons/icn_L_search.svg" alt="")
              span Поиск
            .search__active 
              .search__input 
                input(type="search" placeholder="Typing|")
              button.search__btn
                span Поиск
          a(href="lk-content.html" data-count="9").header-bottom__btn.my-notes
            img(src="img/icons/icn_L_cart.svg" alt="")
            span Мои записи
          a(href="lk-content.html").header-bottom__btn#accountBtn
            img(src="img/icons/icn_L_account_circle.svg" alt="")
            span Аккаунт
          a(href="").header-bottom__btn#burger
            img(src="img/icons/icn_m_menu.svg" alt="") 
            span Меню

.search-mobile#searchMobile._container
  h3 Поиск
  input(type="text" placeholder="Название, или код анализа")
  button.btn Найти

//- .history-mobile#historyMobile._container  
//-   .lk-content__aside 
//-     ul.tabs__caption
//-       li.active
//-         a(href="lk-content.html")  История записей
//-       li 
//-         a(href="lk-content.html") Личные данные
//-       li 
//-         a(href="lk-content.html") Мои отзывы
//-     ul.lk-content__aside-bottom
//-       li
//-         span Выйти
//-         img(src="img/icons/icn_m_logout.svg" alt="")

