.main-menu
  .main-menu__wrapper._container
    .main-menu__head
      h3.main-menu__title Меню
      .main-menu__social 
        a(href="")
          img(src="img/svg/vk-icon.svg" alt="")
        a(href="")
          img(src="img/svg/ok-icon.svg" alt="")
        a(href="")
          img(src="img/svg/telegram-icon.svg" alt="")
      .main-menu__back 
        <svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.78554 0.730911C8.48764 0.435055 7.99044 0.421731 7.67501 0.70115L0 7.5L7.67501 14.2988C7.99044 14.5783 8.48764 14.5649 8.78554 14.2691C9.08345 13.9732 9.06924 13.5069 8.75381 13.2275L2.28826 7.5L8.75381 1.77254C9.06924 1.49312 9.08345 1.02677 8.78554 0.730911Z" fill="#1B3F5E"/></svg>
        span Назад 
    .main-menu__inner
      nav.main-menu__nav
        a.tablinks.current.active(onclick="openItem(event, 'about')")
          span О центре
          <svg width="11" height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.741264 1.06059C1.07641 0.691735 1.63576 0.675123 1.99062 1.02349L10.625 9.49998L1.99062 17.9765C1.63576 18.3248 1.07641 18.3082 0.741264 17.9394C0.406122 17.5705 0.422104 16.9891 0.77696 16.6407L8.05071 9.49998L0.77696 2.35925C0.422104 2.01088 0.406122 1.42945 0.741264 1.06059Z" fill="#1B3F5E" fill-opacity="0.2"/></svg>
        a.tablinks.current(onclick="openItem(event, 'medicina')")
          span Медицина
          <svg width="11" height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.741264 1.06059C1.07641 0.691735 1.63576 0.675123 1.99062 1.02349L10.625 9.49998L1.99062 17.9765C1.63576 18.3248 1.07641 18.3082 0.741264 17.9394C0.406122 17.5705 0.422104 16.9891 0.77696 16.6407L8.05071 9.49998L0.77696 2.35925C0.422104 2.01088 0.406122 1.42945 0.741264 1.06059Z" fill="#1B3F5E" fill-opacity="0.2"/></svg>

        a.tablinks.current(onclick="openItem(event, 'pacientam')")
          span Пациентам
          <svg width="11" height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.741264 1.06059C1.07641 0.691735 1.63576 0.675123 1.99062 1.02349L10.625 9.49998L1.99062 17.9765C1.63576 18.3248 1.07641 18.3082 0.741264 17.9394C0.406122 17.5705 0.422104 16.9891 0.77696 16.6407L8.05071 9.49998L0.77696 2.35925C0.422104 2.01088 0.406122 1.42945 0.741264 1.06059Z" fill="#1B3F5E" fill-opacity="0.2"/></svg>

        a(href="doctors.html")
          span Врачи

        a.tablinks.current(onclick="openItem(event, 'nauka')")
          span Наука
          <svg width="11" height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.741264 1.06059C1.07641 0.691735 1.63576 0.675123 1.99062 1.02349L10.625 9.49998L1.99062 17.9765C1.63576 18.3248 1.07641 18.3082 0.741264 17.9394C0.406122 17.5705 0.422104 16.9891 0.77696 16.6407L8.05071 9.49998L0.77696 2.35925C0.422104 2.01088 0.406122 1.42945 0.741264 1.06059Z" fill="#1B3F5E" fill-opacity="0.2"/></svg>

        a.tablinks.current(onclick="openItem(event, 'services')")
          span Платные услуги
          <svg width="11" height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.741264 1.06059C1.07641 0.691735 1.63576 0.675123 1.99062 1.02349L10.625 9.49998L1.99062 17.9765C1.63576 18.3248 1.07641 18.3082 0.741264 17.9394C0.406122 17.5705 0.422104 16.9891 0.77696 16.6407L8.05071 9.49998L0.77696 2.35925C0.422104 2.01088 0.406122 1.42945 0.741264 1.06059Z" fill="#1B3F5E" fill-opacity="0.2"/></svg>

        a(href="contacts.html")
          span Контакты

        a.tablinks.current(onclick="openItem(event, 'press')")
          span Пресс-служба
          <svg width="11" height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.741264 1.06059C1.07641 0.691735 1.63576 0.675123 1.99062 1.02349L10.625 9.49998L1.99062 17.9765C1.63576 18.3248 1.07641 18.3082 0.741264 17.9394C0.406122 17.5705 0.422104 16.9891 0.77696 16.6407L8.05071 9.49998L0.77696 2.35925C0.422104 2.01088 0.406122 1.42945 0.741264 1.06059Z" fill="#1B3F5E" fill-opacity="0.2"/></svg>
      .main-menu__submenu
        .main-menu__links.tabcontent#about
          a(href="") Информация
          a(href="") Руководство
          a(href="") Центр амбулаторной онкологической помощи
          a(href="") Отделения
          a(href="") Мероприятия
          a(href="") Документы 
          a(href="") Вакансии
          a(href="") Профсоюз
          a(href="") Кафедра 
          a(href="") Контакты

        .main-menu__links.tabcontent#medicina
          a(href="") Центр амбулаторной онкологической помощи
          a(href="") Отделения
          a(href="") Мероприятия
          a(href="") Документы 
          a(href="") Вакансии
          a(href="") Профсоюз
          a(href="") Кафедра 
          a(href="") Контакты

        .main-menu__links.tabcontent#pacientam
          a(href="") Информация
          a(href="") Руководство
          a(href="") Центр амбулаторной онкологической помощи
          a(href="") Отделения
          a(href="") Профсоюз
          a(href="") Кафедра 
          a(href="") Контакты

        .main-menu__links.tabcontent#nauka
          a(href="") Информация
          a(href="") Руководство
          a(href="") Центр амбулаторной онкологической помощи
          a(href="") Отделения
          a(href="") Мероприятия
          a(href="") Документы 

        .main-menu__links.tabcontent#services
          a(href="") Отделения
          a(href="") Мероприятия
          a(href="") Документы 
          a(href="") Вакансии
          a(href="") Профсоюз
          a(href="") Кафедра 
          a(href="") Контакты

        .main-menu__links.tabcontent#press
          a(href="") Информация
          a(href="") Руководство
          a(href="") Вакансии
          a(href="") Профсоюз
          a(href="") Кафедра 
          a(href="") Контакты
    .main-menu__btns 
      button.btn-default.btn-default--blue ЗАПИСЬ НА ПРИЕМ
      button.btn-default ЗАПИСЬ НА ПЛАТНЫЕ УСЛУГИ