#menu
  h3 Меню
  ul.menu 
    li
      a
        span Услуги
        img(src="img/icons/icn_m_arrow_drop_down.svg" alt="")
      ul.submenu 
        li
          a(href="") Консультации врачей 
        li
          a(href="") Диагностика
        li
          a(href="") Анализы
    li
      a 
        span О центре
        img(src="img/icons/icn_m_arrow_drop_down.svg" alt="")
      ul.submenu 
        li
          a(href="") Информация
        li
          a(href="") Новости
        li
          a(href="") Вакансии
        li
          a(href="") Лицензии
        li
          a(href="") Контролирующие органы 
    li
      a(href="") Отзывы
    li
      a(href="") Статьи
    li
      a(href="") Акции
    li
      a(href="") Контакты