.modal.modal-review.overlay.active
  .modal__wrapper.modal__wrapper--end
    .close 
      img(src="img/close.png", alt="")
    h2.title Запись на приём
    .modal__subtitle Внимание! При себе иметь «Направление на госпитализацию, восстановительное лечение, обследование, консультацию» по форме № 057/у-04