.modal.modal-review.overlay
  .modal__wrapper.modal__wrapper--end
    .close 
      img(src="img/close.png", alt="")
    img(src="img/svg/dashicons_testimonial.svg", alt="")
    h2.title Спасибо за ваш отзыв!
