script(src='js/jquery.min.js')
script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
script(src="js/jquery.marquee.min.js")
script(src="js/custom-select.js")
script(src="js/jq-custom.js")
script(src="js/autosize.js")
script(src='js/main.js')