.modal.search-block.overlay
  .modal__wrapper
    .close
      img(src="img/close.png", alt="")
    .search-block__head
      input(type="search")
      button.btn-default.btn-default--blue Найти
    .search-block__result 
      h5 Заголовок найденного
      p Текст того где нашлось, или что нашлось
      h5 Принимая во внимание
      p Принимая во внимание показатели успешности, глубокий уровень погружения, а также свежий взгляд на привычные вещи — безусловно открывает новые горизонты для анализа существующих паттернов поведения.
      h5 Глубокий уровень погружения
      p Каждый из нас понимает очевидную вещь: глубокий уровень погружения, а также свежий взгляд на привычные вещи — безусловно открывает новые горизонты для инновационных методов управления процессами.
