doctype html
html(lang="ru")
  include modules/head
  body
    .wrapper
      include modules/burger-inner
      include modules/header
      .page 
        section.notfound.back-dots.back-dots--4 
          .notfound__wrapper._container 
            .notfound__col
              .block-head.block-head--notfound
                h2.title Страница не найдена
                h3.subtitle Воспользуйтесь поиском или вернитесь на главную
              .notfound__buttons 
                button.btn-default Поиск
                button.btn-default.btn-default--blue На главную
            .notfound__col 
              img(src="img/404.png" alt="")


      include modules/footer
    include modules/script