doctype html
html(lang="ru")
  include modules/head
  body
    .wrapper
      include modules/burger-inner
      include modules/header
      .page 
        .breadcrumbs._container
          a(href="") Главная 
          span 
          a.active О центре
        section.services.back-map 
          .services__wrapper._container
            .block-head 
              h1.title О центре
            .services__content 
              .services__grid.grid 
                a(href="").services__item.grid__item
                  h3.services__title Информация
                  <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>
                a(href="").services__item.grid__item
                  h3.services__title Руководство
                  <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>
                a(href="").services__item.grid__item
                  h3.services__title Центр амбулаторной онкологической помощи
                  <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>
                a(href="").services__item.grid__item
                  h3.services__title Отделения
                  <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>
                a(href="").services__item.grid__item
                  h3.services__title Мероприятия
                  <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>
                a(href="").services__item.grid__item
                  h3.services__title Документы 
                  <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>
                a(href="").services__item.grid__item
                  h3.services__title Вакансии
                  <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>
                a(href="").services__item.grid__item
                  h3.services__title Профсоюз
                  <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>
                a(href="").services__item.grid__item
                  h3.services__title Кафедра 
                  <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>
                a(href="").services__item.grid__item
                  h3.services__title Контакты
                  <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>



      include modules/footer
    include modules/script