extends templates/layout

block main 
    .page
        ._container 
            .breadcrumbs 
                a(href="") Предыдущий ЛВЛ крошка 
            section.main-banner
                h1 h1 Здоровое питание: ключ к укреплению иммунной системы и общему благополучию

            section
                .block-picture.block-picture--mode.block-color 
                    .block-picture__pic.block-picture__pic--border 
                        img(src="img/images/pic1.jpg" alt="")
                    .block-picture__col 
                        span.block-picture__label ОКУШЕР-ГИНЕКОЛОГ
                        h2.block-picture__title Анна Иванова Ивановна Васильевна Петровна
                        p Специалист по акушерству и гинекологии в медицинском центре. С долголетней практикой и заботой о здоровье женщин, доктор Иванова стремится предоставить самый высокий уровень медицинского обслуживания и индивидуального подхода к каждой пациентке.
                        .block-info__bottom
                            button.btn Добавить в запись
                            .block-info__row
                                p Первичный приём — 1 500 ₽
                                p Повторный — 1 100 ₽


                .block-info.block-color
                    .block-info__inner 
                        p.strong Если у вас возникли вопросы или вам требуется медицинская помощь в области акушерства и гинекологии, не стесняйтесь обратиться к доктору Анне Ивановой. Она будет рада приветствовать вас в своей практике и помочь вам достичь оптимального здоровья и благополучия.
                        .block-info__bottom
                            button.btn Добавить в запись
                            .block-info__row
                                p Первичный приём — 1 500 ₽
                                p Повторный — 1 100 ₽

                .content-block.block-info.block-color
                    .block-info__inner 
                        p.strong Если у вас возникли вопросы или вам требуется медицинская помощь в области акушерства и гинекологии, не стесняйтесь обратиться к доктору Анне Ивановой. Она будет рада приветствовать вас в своей практике и помочь вам достичь оптимального здоровья и благополучия.
                        .block-info__bottom.block-info__bottom--mode
                            button.btn Записаться
                            .block-info__row
                                span от 1 500 ₽ 

                .content-block.shedule    
                    h3.shedule__title Расписание
                    .shedule__inner 
                        .shedule__item 
                            span.shedule__name Пн
                            .shedule__bottom 
                                span 31 февраля
                                span С 11.00 до 16.00                    
                        .shedule__item 
                            span.shedule__name Вт
                            .shedule__bottom 
                                span 31 февраля
                                span С 11.00 до 16.00                    
                        .shedule__item 
                            span.shedule__name Ср
                            .shedule__bottom 
                                span 31 февраля
                                span С 11.00 до 16.00                    
                        .shedule__item 
                            span.shedule__name Чт
                            .shedule__bottom 
                                span 31 февраля
                                span С 11.00 до 16.00                    
                        .shedule__item 
                            span.shedule__name Пт
                            .shedule__bottom 
                                span 31 февраля
                                span С 11.00 до 16.00                    
                        .shedule__item 
                            span.shedule__name.shedule__name--mode Сб
                            .shedule__bottom 
                                span 31 февраля
                                span С 11.00 до 16.00                    
                        .shedule__item 
                            span.shedule__name.shedule__name--mode Вс
                            .shedule__bottom 
                                span 31 февраля
                                span С 11.00 до 16.00

                .content-block.shedule    
                    h3.shedule__title 
                        span Расписание
                    .shedule__inner 
                        .shedule__item 
                            span.shedule__name Пн
                            .shedule__bottom 
                                span 31 февраля
                                span С 11.00 до 16.00                    
                        .shedule__item 
                            span.shedule__name Вт
                            .shedule__bottom 
                                span 31 февраля
                                span С 11.00 до 16.00                    
                        .shedule__item 
                            span.shedule__name Ср
                            .shedule__bottom 
                                span 31 февраля
                                span С 11.00 до 16.00 
                        .shedule__item 
                            span.shedule__name Пт
                            .shedule__bottom 
                                span 31 февраля
                                span С 11.00 до 16.00  
                ._inner
                    .content-block 
                        p.strong Короткое содержание: В этой статье рассмотрим важность правильного питания для укрепления иммунной системы и поддержания общего здоровья. Мы узнаем, какие продукты и питательные вещества особенно полезны для иммунитета, и как они способствуют борьбе с инфекциями и заболеваниями. Мы также обсудим роль балансированного рациона и здоровых привычек в поддержании оптимального состояния иммунной системы.

                    .content-block 
                        h3 Заголовок 3 уровня: Питание и иммунитет: неразрывная связь
                        p Многие из нас стремятся к здоровой и счастливой жизни. Однако, чтобы достичь этой цели, необходимо активно заботиться о своём здоровье. Важную роль в этом процессе играет самообслуживание — комплекс мер и действий, направленных на поддержание физического и психологического благополучия. В этой статье мы рассмотрим, как правильное самообслуживание помогает нам сохранять здоровье и предотвращать различные заболевания.
                        figure 
                            img(src="img/images/pic2.jpg" alt="")
                            figcaption Сабтайтл автора, фото, даты. Например - Хиппократ. 1992 год.
                    .content-block 
                        h4 Заголовок 4 уровня: Витамин С: мощный стимулятор иммунитета
                        p Одним из ключевых аспектов самообслуживания является правильное питание. Наше тело нуждается в разнообразных питательных веществах, чтобы функционировать наилучшим образом. Включение в рацион свежих фруктов и овощей, злаковых продуктов, белковых и жирных кислот, а также ограничение потребления процессированных продуктов и сахара помогут нам достичь оптимального здоровья.

                    .content-block 
                        h5 Заголовок 5 уровня: Витамин С: мощный стимулятор иммунитета
                        p Регулярная физическая активность также является неотъемлемой частью самообслуживания. Она укрепляет наши мышцы и кости, повышает выносливость, снижает риск сердечно-сосудистых заболеваний и помогает нам поддерживать здоровый вес. Будь то занятия в спортзале, прогулки на свежем воздухе или йога, выберите активности, которые вам нравятся, и включите их в свою повседневную жизнь.

                        .quote 
                            p.strong «Здоровье — это наше богатство, и питание — его страж. Включение в рацион свежих фруктов и овощей, злаковых продуктов, белковых и жирных кислот, а также ограничение потребления процессированных продуктов и сахара помогут нам достичь оптимального здоровья».
                            span.quote__label Сабтайтл автора, например - Хиппократ. 1992 год.
                        p Однако, не стоит забывать и о психологическом благополучии. Стресс, тревога и плохое настроение могут оказывать негативное влияние на наше здоровье. Поэтому важно обращать внимание на своё эмоциональное состояние и применять методы управления стрессом, такие как медитация, глубокое дыхание или занятия хобби. Поддерживайте равновесие между работой и отдыхом, общайтесь с близкими людьми и уделяйте время для себя.

                    .content-block 
                        h5 Заголовок 5 уровня: Цинк и селен: незаменимые помощники иммунной системы
                        p Однако, не стоит забывать и о психологическом благополучии. Стресс, тревога и плохое настроение могут оказывать негативное влияние на наше здоровье. Поэтому важно обращать внимание на своё эмоциональное состояние и применять методы управления стрессом, такие как медитация, глубокое дыхание или занятия хобби. Поддерживайте равновесие между работой и отдыхом, общайтесь с близкими людьми и уделяйте время для себя.

                    .content-block 
                        ol 
                            li Цинк и селен: незаменимые помощники иммунной системы
                            li Омега-3 жирные кислоты: защита и поддержка иммунитета
                            li Здоровый рацион: основа для сильной иммунной системы
                            li Сбалансированное питание: гармония для иммунитета
                            li Регулярность и разнообразие: ключевые принципы питания
                            li Здоровые привычки для укрепления иммунитета
                            li Физическая активность: энергия для иммунной системы

                    .content-block 
                        p Однако, не стоит забывать и о психологическом благополучии. Стресс, тревога и плохое настроение могут оказывать негативное влияние на наше здоровье. Поэтому важно обращать внимание на своё эмоциональное состояние и применять методы управления стрессом, такие как медитация, глубокое дыхание или занятия хобби. Поддерживайте равновесие между работой и отдыхом, общайтесь с близкими людьми и уделяйте время для себя.

                    .content-block 
                        ul 
                            li Цинк и селен: незаменимые помощники иммунной системы
                            li Омега-3 жирные кислоты: защита и поддержка иммунитета
                            li Здоровый рацион: основа для сильной иммунной системы
                            li Сбалансированное питание: гармония для иммунитета
                            li Регулярность и разнообразие: ключевые принципы питания
                            li Здоровые привычки для укрепления иммунитета
                            li Физическая активность: энергия для иммунной системы

                    .content-block 
                        p.strong Короткое содержание: В этой статье рассмотрим важность правильного питания для укрепления иммунной системы и поддержания общего здоровья. Мы узнаем, какие продукты и питательные вещества особенно полезны для иммунитета, и как они способствуют борьбе с инфекциями и заболеваниями. Мы также обсудим роль балансированного рациона и здоровых привычек в поддержании оптимального состояния иммунной системы.

            section 
                h2 
                    span Ещё новость
                    a(href="")  
                        span Все новости
                        img(src="img/icons/icn_m_arrow_forward.svg" alt="")
                .news-carousel.swiper
                    .swiper-wrapper 
                        .swiper-slide 
                            .news-carousel__slide
                                img(src="img/images/pic3.jpg" alt="")
                                .date 22.02.2022
                                p Верстаем эт карточки из news-special. Только теперь из 3 а не 1 (как на главной)
                        .swiper-slide 
                            .news-carousel__slide
                                img(src="img/images/pic3.jpg" alt="")
                                .date 22.02.2022
                                p Верстаем эт карточки из news-special. Только теперь из 3 а не 1 (как на главной)                        
                        .swiper-slide 
                            .news-carousel__slide
                                img(src="img/images/pic3.jpg" alt="")
                                .date 22.02.2022
                                p Верстаем эт карточки из news-special. Только теперь из 3 а не 1 (как на главной) 

            section
                h2 
                    span Отзывы
                    a(href="specialists.html")  
                        span Все отзывы
                        img(src="img/icons/icn_m_arrow_forward.svg" alt="")
                .reviews-block-carousel.swiper 
                    .swiper-wrapper 
                        .swiper-slide 
                            .reviews-block-carousel__slide.block-color 
                                h4.reviews-block-carousel__title Нафанаил
                                p Доктор Лебедева — истинный профессионал с золотыми руками. Я обратился к ней с проблемой кожного заболевания, и она смогла найти эффективное решение. Её диагностические навыки и опыт позволили ей точно определить причину проблемы и предложить индивидуальное лечение.
                                p Она также проявила глубокое понимание моих эмоциональных потребностей и была очень терпелива, отвечая на все мои вопросы. Я очень благодарен доктору Лебедевой и с уверенностью рекомендую её как высококвалифицированного специалиста в своей области.
                        .swiper-slide 
                            .reviews-block-carousel__slide.block-color 
                                h4.reviews-block-carousel__title Нафанаил
                                p Доктор Лебедева — истинный профессионал с золотыми руками. Я обратился к ней с проблемой кожного заболевания, и она смогла найти эффективное решение. Её диагностические навыки и опыт позволили ей точно определить причину проблемы и предложить индивидуальное лечение.
                        .swiper-slide 
                            .reviews-block-carousel__slide.block-color 
                                h4.reviews-block-carousel__title Нафанаил
                                p Доктор Лебедева — истинный профессионал с золотыми руками. Я обратился к ней с проблемой кожного заболевания, и она смогла найти эффективное решение. Её диагностические навыки и опыт позволили ей точно определить причину проблемы и предложить индивидуальное лечение.
                        .swiper-slide 
                            .reviews-block-carousel__slide.block-color 
                                h4.reviews-block-carousel__title Нафанаил
                                p Доктор Лебедева — истинный профессионал с золотыми руками. Я обратился к ней с проблемой кожного заболевания, и она смогла найти эффективное решение. Её диагностические навыки и опыт позволили ей точно определить причину проблемы и предложить индивидуальное лечение.
                                p Она также проявила глубокое понимание моих эмоциональных потребностей и была очень терпелива, отвечая на все мои вопросы. Я очень благодарен доктору Лебедевой и с уверенностью рекомендую её как высококвалифицированного специалиста в своей области.
                        .swiper-slide 
                            .reviews-block-carousel__slide.block-color 
                                h4.reviews-block-carousel__title Нафанаил
                                p Доктор Лебедева — истинный профессионал с золотыми руками. Я обратился к ней с проблемой кожного заболевания, и она смогла найти эффективное решение. Её диагностические навыки и опыт позволили ей точно определить причину проблемы и предложить индивидуальное лечение.
                        .swiper-slide 
                            .reviews-block-carousel__slide.block-color 
                                h4.reviews-block-carousel__title Нафанаил
                                p Доктор Лебедева — истинный профессионал с золотыми руками. Я обратился к ней с проблемой кожного заболевания, и она смогла найти эффективное решение. Её диагностические навыки и опыт позволили ей точно определить причину проблемы и предложить индивидуальное лечение.
                    .swiper-pagination

            section
                .gallery 
                    h2.gallery__title Галлерея
                    .gallery__wrapper 
                        .gallery__inner.gallery__inner--overlay
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                        span#galleryShow.gallery__btn Развернуть    
                            img(src="img/icons/icn_m_arrow_drop_down_blue.svg" alt="")

            section
                .gallery 
                    h2.gallery__title Галлерея
                    .gallery__wrapper 
                        .gallery__inner
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")


            section
                .gallery 
                    h2.gallery__title Галлерея
                    .gallery__wrapper 
                        .gallery__inner
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
                            .item
                                img(src="img/gallery/item1.jpg" alt="")
