doctype html
html(lang="ru")
  include modules/head
  body
    .wrapper
      include modules/burger-inner
      include modules/header
      .page 
        .breadcrumbs._container
          a(href="") Главная 
          span 
          a О центре
          span 
          a(href="").active Контакты 
        section.contacts 
          .contacts__wrapper._container 
            .contacts__col
              .block-head
                h2.title Контакты
              .contacts__inner
                .contacts__row 
                  span Адрес
                  span 305524, Курский р-он, Рышковский с/с, х. Кислино, ул. Елисеева 1
                .contacts__row 
                  span График работы
                  span По будням с 07:00 до 18:00
                  span Суббота с 08:00 до 14:00
                  span Воскресенье — выходной
                .contacts__row 
                  span Единый центр приёма звонков
                  span 
                    a(href="tel:+74712731918") +7 (4712) 73-19-18  
                  span С понедельника по пятницу с 8:00 до 18:00
                .contacts__row 
                  span Отдел платных услуг
                  span 
                    a(href="+74712731892") +7 (4712) 73-18-92 
                  span С понедельника по пятницу с 8:00 до 18:00
                .contacts__row 
                  span Отдел платных услуг
                  span 
                    a(href="+74712731892") +7 (4712) 73-18-92 
                  span С понедельника по пятницу с 8:00 до 18:00
                .contacts__row 
                  span Электронная почта
                  span 
                    a(href="mailto:gvkokod@mail.ru") gvkokod@mail.ru 
                  span Главный врач Станоевич Углеша Спасоевич
                  span 
                    a(href="mailto:kursk_ood@mail.ru") kursk_ood@mail.ru 
                  span Приёмная онкоцентра
            .contacts__col 
              <iframe class="contacts__map" src="https://yandex.ru/map-widget/v1/?ll=36.171311%2C51.646923&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgoxNjM2ODIwMjAwEosB0KDQvtGB0YHQuNGPLCDQmtGD0YDRgdC60LjQuSDRgNCw0LnQvtC9LCDQoNGL0YjQutC-0LLRgdC60LjQuSDRgdC10LvRjNGB0L7QstC10YIsINGF0YPRgtC-0YAg0JrQuNGB0LvQuNC90L4sINGD0LvQuNGG0LAg0JXQu9C40YHQtdC10LLQsCwgMSIKDWyvEEIVc5ZOQg%2C%2C&z=16.89" width="100%" height="666" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
              .contacts__row 
                span Как добраться?
                span Маршруты, конечной остановкой которых является "онкоцентр".
                ol 
                  li Автобус №91
                  li Маршрутное такси №289
                  li Автобус №75
                  li Автобус №60. 
              .contacts__btns 
                a.btn-default(href="")
                  img(src="img/svg/pin-ya.svg" alt="")
                  span ОТКРЫТЬ В ЯНДЕКС.КАРТЫ
                a.btn-default(href="")
                  img(src="img/svg/pin-2gis.svg" alt="")
                  span ОТКРЫТЬ В 2ГИС

      include modules/footer
    include modules/script