extends templates/layout

block main 
  .page
    ._container 
      .breadcrumbs 
        a(href="") Предыдущий ЛВЛ крошка 
      section.main-banner
        h1 Контакты

    section._container 
      .contacts 
        .contacts__row 
          .contacts__content 
            h3 Medical на ул. Пушкина
            ul 
              li
                a(href="")  
                  img(src="img/icons/icn_m_ad_units-blue.svg" alt="")
                  p +7 999 999 99 98
              li
                a(href="")  
                  img(src="img/icons/icn_m_mail-blue.svg" alt="")
                  p mail@email.su
              li 
                a 
                  img(src="img/icons/icn_m_location_on-blue.svg" alt="")
                  p Улица Пушкина, дом Колотушкина, номер дома скажешь ты…
            .contacts__bottom.contacts__bottom--desctop 
              h6 Открыть в приложении:
              .contacts__btns
                .contacts__btn 
                  img(src="img/icons/icn_m_yandex.svg" alt="")
                  span Я.Навигатор
                .contacts__btn 
                  img(src="img/icons/icn_m_2gis.svg" alt="")
                  span 2ГИС
          .contacts__map 
            <iframe width="100%" src="https://yandex.ru/map-widget/v1/?indoorLevel=1&ll=36.197192%2C51.740301&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NjQ3NjM0ORI50KDQvtGB0YHQuNGPLCDQmtGD0YDRgdC6LCDRg9C70LjRhtCwINCT0L7RgNGM0LrQvtCz0L4sIDcwIgoN7ckQQhUS9k5C&z=17.16" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
            //- #map
          .contacts__bottom.contacts__bottom--mobile 
            h6 Открыть в приложении:
            .contacts__btns
              .contacts__btn 
                img(src="img/icons/icn_m_yandex.svg" alt="")
                span Я.Навигатор
              .contacts__btn 
                img(src="img/icons/icn_m_2gis.svg" alt="")
                span 2ГИС

        .contacts__row 
          .contacts__content 
            h3 Medical на ул. Пушкина
            ul 
              li
                a(href="")  
                  img(src="img/icons/icn_m_ad_units-blue.svg" alt="")
                  p +7 999 999 99 98
              li
                a(href="")  
                  img(src="img/icons/icn_m_mail-blue.svg" alt="")
                  p mail@email.su
              li 
                a 
                  img(src="img/icons/icn_m_location_on-blue.svg" alt="")
                  p Улица Пушкина, дом Колотушкина, номер дома скажешь ты…
            .contacts__bottom.contacts__bottom--desctop
              h6 Открыть в приложении:
              .contacts__btns
                .contacts__btn 
                  img(src="img/icons/icn_m_yandex.svg" alt="")
                  span Я.Навигатор
                .contacts__btn 
                  img(src="img/icons/icn_m_2gis.svg" alt="")
                  span 2ГИС
          .contacts__map 
            <iframe width="100%" src="https://yandex.ru/map-widget/v1/?indoorLevel=1&ll=36.197192%2C51.740301&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NjQ3NjM0ORI50KDQvtGB0YHQuNGPLCDQmtGD0YDRgdC6LCDRg9C70LjRhtCwINCT0L7RgNGM0LrQvtCz0L4sIDcwIgoN7ckQQhUS9k5C&z=17.16" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
            //- #map2
            .contacts__bottom.contacts__bottom--mobile 
              h6 Открыть в приложении:
              .contacts__btns
                .contacts__btn 
                  img(src="img/icons/icn_m_yandex.svg" alt="")
                  span Я.Навигатор
                .contacts__btn 
                  img(src="img/icons/icn_m_2gis.svg" alt="")
                  span 2ГИС