extends templates/layout

block main 
  .page
    ._container 
      .breadcrumbs 
        a(href="") Предыдущий ЛВЛ крошка
      section.main-banner
        h1 Диагностика
      section.diagnostics 
        a.item.block-color(href="")
          .item__pic
            img(src="img/diagnostics/Bone.svg" alt="")
          h4 Рентгенография
        a.item.block-color(href="")
          .item__pic
            img(src="img/diagnostics/Bone.svg" alt="")
          h4 МРТ
        a.item.block-color(href="")
          .item__pic
            img(src="img/diagnostics/Bone.svg" alt="")
          h4 Функциональная диагностика
        a.item.block-color(href="")
          .item__pic
            img(src="img/diagnostics/Bone.svg" alt="")
          h4 Рентгенография
        a.item.block-color(href="")
          .item__pic
            img(src="img/diagnostics/Bone.svg" alt="")
          h4 Рентгенография
        a.item.block-color(href="")
          .item__pic
            img(src="img/diagnostics/Bone.svg" alt="")
          h4 МРТ
        a.item.block-color(href="")
          .item__pic
            img(src="img/diagnostics/Bone.svg" alt="")
          h4 Функциональная диагностика
        a.item.block-color(href="")
          .item__pic
            img(src="img/diagnostics/Bone.svg" alt="")
          h4 Рентгенография
        a.item.block-color(href="")
          .item__pic
            img(src="img/diagnostics/Bone.svg" alt="")
          h4 Рентгенография
        a.item.block-color(href="")
          .item__pic
            img(src="img/diagnostics/Bone.svg" alt="")
          h4 МРТ
        a.item.block-color(href="")
          .item__pic
            img(src="img/diagnostics/Bone.svg" alt="")
          h4 Функциональная диагностика
