extends templates/layout

block main 
  .page
    ._container 
      .breadcrumbs 
        a(href="") Предыдущий ЛВЛ крошка
      section.main-banner
        h1 Врачи
      section.doctors 
        ul 
          li
            h3 A 
              img(src="img/icons/icn_m_arrow_drop_down-white.svg", alt="")
            .doctors__list
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
          li
            h3 A  
              img(src="img/icons/icn_m_arrow_drop_down-white.svg", alt="")
            .doctors__list
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
          li
            h3 A  
              img(src="img/icons/icn_m_arrow_drop_down-white.svg", alt="")
            .doctors__list
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
          li
            h3 A  
              img(src="img/icons/icn_m_arrow_drop_down-white.svg", alt="")
            .doctors__list
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
          li
            h3 A  
              img(src="img/icons/icn_m_arrow_drop_down-white.svg", alt="")
            .doctors__list
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
          li
            h3 A  
              img(src="img/icons/icn_m_arrow_drop_down-white.svg", alt="")
            .doctors__list
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
          li
            h3 A  
              img(src="img/icons/icn_m_arrow_drop_down-white.svg", alt="")
            .doctors__list
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
          li
            h3 A  
              img(src="img/icons/icn_m_arrow_drop_down-white.svg", alt="")
            .doctors__list
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
          li
            h3 A  
              img(src="img/icons/icn_m_arrow_drop_down-white.svg", alt="")
            .doctors__list
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
          li
            h3 A  
              img(src="img/icons/icn_m_arrow_drop_down-white.svg", alt="")
            .doctors__list
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
          li
            h3 A  
              img(src="img/icons/icn_m_arrow_drop_down-white.svg", alt="")
            .doctors__list
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
          li
            h3 A  
              img(src="img/icons/icn_m_arrow_drop_down-white.svg", alt="")
            .doctors__list
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
          li
            h3 A  
              img(src="img/icons/icn_m_arrow_drop_down-white.svg", alt="")
            .doctors__list
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
          li
            h3 A  
              img(src="img/icons/icn_m_arrow_drop_down-white.svg", alt="")
            .doctors__list
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
          li
            h3 A  
              img(src="img/icons/icn_m_arrow_drop_down-white.svg", alt="")
            .doctors__list
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
          li
            h3 A  
              img(src="img/icons/icn_m_arrow_drop_down-white.svg", alt="")
            .doctors__list
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
          li
            h3 A  
              img(src="img/icons/icn_m_arrow_drop_down-white.svg", alt="")
            .doctors__list
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
          li
            h3 A  
              img(src="img/icons/icn_m_arrow_drop_down-white.svg", alt="")
            .doctors__list
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
              a(href="") Аллерголог-иммунолог 
        