doctype html
html(lang="ru")
    include modules/head
    body
        .wrapper
            include modules/header
            .page
                //- include carrer
                include modules/start-block
                include modules/services
                include modules/marquee
                include modules/description 
                include modules/experience
                include modules/advantages
                include modules/steps
                include modules/cases
                include modules/reviews
                include modules/consultation
                include modules/partners
                .card-modals
                    include modules/card

            include modules/footer
        include modules/script