extends templates/layout

block main 
    .page.page-index 
        ._container 
            h1.visually-hidden MEDICAL

        section
            ._container
                .banner.swiper 
                    .swiper-wrapper 
                        .swiper-slide 
                            .banner__inner
                                img.banner__pic(src="img/images/banner1.png" alt="")
                                .banner__title  Ваше лечение в надёжных руках
                                p Надёжный медицинский центр с индивидуальным подходом и профессиональными врачами. Ваше здоровье — наш приоритет!
                                a.btn(href="") Подробнее
                        .swiper-slide
                            .banner__inner 
                                img.banner__pic(src="img/images/banner1.png" alt="")
                                .banner__title  Ваше лечение в надёжных руках
                                p Надёжный медицинский центр с индивидуальным подходом и профессиональными врачами. Ваше здоровье — наш приоритет!
                                a.btn(href="") Подробнее                    
                        .swiper-slide
                            .banner__inner 
                                img.banner__pic(src="img/images/banner1.png" alt="")
                                .banner__title  Ваше лечение в надёжных руках
                                p Надёжный медицинский центр с индивидуальным подходом и профессиональными врачами. Ваше здоровье — наш приоритет!
                                a.btn(href="") Подробнее
                    .swiper-pagination   

        section.services-block 
            ._container 
                h2 Услуги
                .services-block__inner 
                    .item
                        img.item__circle(src="img/balls-left.svg" alt="")
                        .item__title
                            .item__pic 
                                img(src="img/icons/HeartRate.svg" alt="")
                            h3 Диагностика
                        ul 
                            li УЗИ
                            li МРТ
                            li Функциональная диагностика
                            li Цифровой рентген
                            li Биоимпедансометрия
                        a.btn2(href="doctors.html") Все врачи
                    .item
                        img.item__circle(src="img/balls-center.svg" alt="")
                        .item__title 
                            .item__pic
                                img(src="img/icons/DNA.svg" alt="")
                            h3 Анализы
                        ul 
                            li Общеклинические исследования
                            li Биохимические исследования
                            li Биохимические исследования
                        a.btn2(href="doctors.html") Все врачи
                    .item
                        img.item__circle(src="img/balls-right.svg" alt="")
                        .item__title
                            .item__pic 
                                img(src="img/icons/Body.svg" alt="")
                            h3 Консультации
                        ul 
                            li Кардиология
                            li Гинекология
                            li Урология
                            li Андрология
                            li Эндокринология
                        a.btn2(href="doctors.html")  Все врачи

        section.specialists
            ._container  
                h2 
                    span Специалисты
                    a(href="specialists.html")  
                        span Все специалисты
                        img(src="img/icons/icn_m_arrow_forward.svg" alt="")
                .swiper.specialist__slider
                    .swiper-wrapper 
                        .swiper-slide 
                            a(href="").specialists__slide 
                                img(src="img/images/spec1.jpg" alt="")
                                h4 Иванова Екатерина Владимировна
                                span Таролог
                        .swiper-slide 
                            a(href="").specialists__slide 
                                img(src="img/images/spec1.jpg" alt="")
                                h4 Иванова Екатерина Владимировна
                                span Таролог
                        .swiper-slide 
                            a(href="").specialists__slide 
                                img(src="img/images/spec1.jpg" alt="")
                                h4 Иванова Екатерина Владимировна
                                span Таролог
                        .swiper-slide 
                            a(href="").specialists__slide 
                                img(src="img/images/spec1.jpg" alt="")
                                h4 Иванова Екатерина Владимировна
                                span Таролог
                    .swiper-pagination

        section.block-picture._container
            .block-picture__pic
                img(src="img/images/pic4.jpg" alt="")
            .block-picture__col.block-picture__col--mode
                h2.block-picture__title Многопрофильная клиника <span>Medical</span>
                .block-picture__text
                    p В частности, сложившаяся структура организации говорит о возможностях системы обучения кадров, соответствующей насущным потребностям. Также как высококачественный прототип будущего проекта, в своём классическом представлении, допускает внедрение системы обучения кадров, соответствующей насущным потребностям.
                    p Предварительные выводы неутешительны: разбавленное изрядной долей эмпатии, рациональное мышление требует определения и уточнения инновационных методов управления процессами.
                a.btn(href="") Подробнее 


        section._container
            h2 
                span Отзывы
                a(href="specialists.html")  
                        span Все отзывы
                        img(src="img/icons/icn_m_arrow_forward.svg" alt="")
            .reviews-block-carousel.swiper 
                .swiper-wrapper 
                    .swiper-slide 
                        .reviews-block-carousel__slide.block-color 
                            h4.reviews-block-carousel__title Нафанаил
                            p Доктор Лебедева — истинный профессионал с золотыми руками. Я обратился к ней с проблемой кожного заболевания, и она смогла найти эффективное решение. Её диагностические навыки и опыт позволили ей точно определить причину проблемы и предложить индивидуальное лечение.
                            p Она также проявила глубокое понимание моих эмоциональных потребностей и была очень терпелива, отвечая на все мои вопросы. Я очень благодарен доктору Лебедевой и с уверенностью рекомендую её как высококвалифицированного специалиста в своей области.
                    .swiper-slide 
                        .reviews-block-carousel__slide.block-color 
                            h4.reviews-block-carousel__title Нафанаил
                            p Доктор Лебедева — истинный профессионал с золотыми руками. Я обратился к ней с проблемой кожного заболевания, и она смогла найти эффективное решение. Её диагностические навыки и опыт позволили ей точно определить причину проблемы и предложить индивидуальное лечение.
                    .swiper-slide 
                        .reviews-block-carousel__slide.block-color 
                            h4.reviews-block-carousel__title Нафанаил
                            p Доктор Лебедева — истинный профессионал с золотыми руками. Я обратился к ней с проблемой кожного заболевания, и она смогла найти эффективное решение. Её диагностические навыки и опыт позволили ей точно определить причину проблемы и предложить индивидуальное лечение.
                    .swiper-slide 
                        .reviews-block-carousel__slide.block-color 
                            h4.reviews-block-carousel__title Нафанаил
                            p Доктор Лебедева — истинный профессионал с золотыми руками. Я обратился к ней с проблемой кожного заболевания, и она смогла найти эффективное решение. Её диагностические навыки и опыт позволили ей точно определить причину проблемы и предложить индивидуальное лечение.
                            p Она также проявила глубокое понимание моих эмоциональных потребностей и была очень терпелива, отвечая на все мои вопросы. Я очень благодарен доктору Лебедевой и с уверенностью рекомендую её как высококвалифицированного специалиста в своей области.
                    .swiper-slide 
                        .reviews-block-carousel__slide.block-color 
                            h4.reviews-block-carousel__title Нафанаил
                            p Доктор Лебедева — истинный профессионал с золотыми руками. Я обратился к ней с проблемой кожного заболевания, и она смогла найти эффективное решение. Её диагностические навыки и опыт позволили ей точно определить причину проблемы и предложить индивидуальное лечение.
                    .swiper-slide 
                        .reviews-block-carousel__slide.block-color 
                            h4.reviews-block-carousel__title Нафанаил
                            p Доктор Лебедева — истинный профессионал с золотыми руками. Я обратился к ней с проблемой кожного заболевания, и она смогла найти эффективное решение. Её диагностические навыки и опыт позволили ей точно определить причину проблемы и предложить индивидуальное лечение.
                .swiper-pagination



        section._container 
            h2 
                span Новости
                a(href="news.html") Все новости
            .swiper.news-block
                .swiper-wrapper
                    .swiper-slide.item.item--1
                        .item__pic 
                            img(src="img/images/pic6.jpg" alt="")
                        .item__col
                            a(href="")
                                h5.item__title Нынче никто не может себе позволить инициировать боевой клич героев!
                            .date 22.02.2022
                            p Таким образом, высокотехнологичная концепция общественного уклада однозначно определяет каждого участника как способного принимать собственные решения касаемо позиций, занимаемых участниками в отношении поставленных задач.
                    .swiper-slide.item.item--2
                        .item__pic 
                            img(src="img/images/pic6.jpg" alt="")
                        .item__col
                            a(href="")
                                h5.item__title Нынче никто не может себе позволить инициировать боевой клич героев!
                            .date 22.02.2022
                            p Таким образом, высокотехнологичная концепция общественного уклада однозначно определяет каждого участника как способного принимать собственные решения касаемо позиций, занимаемых участниками в отношении поставленных задач.
                    .swiper-slide.item.item--3
                        .item__pic 
                            img(src="img/images/pic6.jpg" alt="")
                        .item__col
                            a(href="")
                                h5.item__title Нынче никто не может себе позволить инициировать боевой клич героев!
                            .date 22.02.2022
                            p Таким образом, высокотехнологичная концепция общественного уклада однозначно определяет каждого участника как способного принимать собственные решения касаемо позиций, занимаемых участниками в отношении поставленных задач.
                    .swiper-slide.item.item--4
                        .item__pic 
                            img(src="img/images/pic6.jpg" alt="")
                        .item__col
                            a(href="")
                                h5.item__title Нынче никто не может себе позволить инициировать боевой клич героев!
                            .date 22.02.2022
                            p Таким образом, высокотехнологичная концепция общественного уклада однозначно определяет каждого участника как способного принимать собственные решения касаемо позиций, занимаемых участниками в отношении поставленных задач.
                .swiper-pagination
