doctype html
html(lang="ru")
    include modules/head
    body
        //- include modules/search-block
        .wrapper
            .burger.show-menu
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_586_1017" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="32" height="32"><rect width="32" height="32" fill="#000018"/></mask><g mask="url(#mask0_586_1017)"><path d="M4 24V22H28V24H4ZM4 17V15H28V17H4ZM4 10V8H28V10H4Z" fill="#2F5372"/></g></svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.2999 19.0999L0.899902 17.6999L8.5999 9.9999L0.899902 2.2999L2.2999 0.899902L9.9999 8.5999L17.6999 0.899902L19.0999 2.2999L11.3999 9.9999L19.0999 17.6999L17.6999 19.0999L9.9999 11.3999L2.2999 19.0999Z" fill="white"/></svg>
                span Меню
            section.first-block
                .nav-menu.blur
                .first-block__wrapper._container   
                    .header 
                        .header__wrapper 
                            a(href="").header__logo
                                img(src="img/svg/header-logo.svg" alt="логотип") 
                            .header__search#showSearch
                                button Поиск
                            a(href="").header__visibility
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_436_7851" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="32" height="32"><rect width="32" height="32" fill="#000018"/></mask><g mask="url(#mask0_436_7851)"><path d="M15.9999 21.1002C17.5999 21.1002 18.961 20.5391 20.0831 19.417C21.2053 18.2949 21.7663 16.9338 21.7663 15.3338C21.7663 13.7338 21.2053 12.3727 20.0831 11.2506C18.961 10.1279 17.5999 9.56659 15.9999 9.56659C14.3999 9.56659 13.0389 10.1279 11.9167 11.2506C10.7946 12.3727 10.2335 13.7338 10.2335 15.3338C10.2335 16.9338 10.7946 18.2949 11.9167 19.417C13.0389 20.5391 14.3999 21.1002 15.9999 21.1002ZM15.9999 18.8666C14.9999 18.8666 14.161 18.5223 13.4831 17.8338C12.8053 17.1447 12.4663 16.3114 12.4663 15.3338C12.4663 14.3338 12.8109 13.4949 13.4999 12.817C14.189 12.1391 15.0223 11.8002 15.9999 11.8002C16.9999 11.8002 17.8389 12.1447 18.5167 12.8338C19.1946 13.5223 19.5335 14.3557 19.5335 15.3338C19.5335 16.3338 19.189 17.1725 18.4999 17.8498C17.8109 18.5277 16.9775 18.8666 15.9999 18.8666ZM15.9999 25.5338C12.7109 25.5338 9.72741 24.5949 7.04954 22.717C4.37221 20.8391 2.40021 18.3781 1.13354 15.3338C2.40021 12.289 4.37221 9.82792 7.04954 7.95059C9.72741 6.07272 12.7109 5.13379 15.9999 5.13379C19.289 5.13379 22.2722 6.07272 24.9495 7.95059C27.6274 9.82792 29.5997 12.289 30.8663 15.3338C29.5997 18.3781 27.6274 20.8391 24.9495 22.717C22.2722 24.5949 19.289 25.5338 15.9999 25.5338ZM15.9999 23.1002C18.6223 23.1002 21.0335 22.3946 23.2335 20.9834C25.4335 19.5722 27.1111 17.689 28.2663 15.3338C27.1111 12.9781 25.4335 11.0946 23.2335 9.68339C21.0335 8.27219 18.6223 7.56659 15.9999 7.56659C13.3775 7.56659 10.9663 8.27219 8.76634 9.68339C6.56634 11.0946 4.87754 12.9781 3.69994 15.3338C4.87754 17.689 6.56634 19.5722 8.76634 20.9834C10.9663 22.3946 13.3775 23.1002 15.9999 23.1002Z" fill="#fff"/></g></svg>
                                span Версия для слабовидящих
                            .burger__mobile.show-menu
                                //- img(src="img/svg/burger-mobile.svg" alt="")
                    .first-block__content
                        .site-title 
                            p ОБЛАСТНОЕ БЮДЖЕТНОЕ УЧРЕЖДЕНИЕ ЗДРАВООХРАНЕНИЯ
                            h1 Курский онкологический научно-клинический центр <br>им. Г.Е. Островерхова
                        .first-block__contacts.blur
                            ul  
                                li 
                                    span
                                        a(href="tel:+7 4712 73-18-96") +7 4712 73-18-96
                                    p Горячая линия о порядке направления пациентов на КТ в государственные медицинские учреждения Курской области

                                li 
                                    span
                                        a(href="tel:+7 4712 73-19-18") +7 4712 73-19-18, доб. 1
                                    p Предварительная запись Пн-Пт с 8:00 до 15:00

                                li 
                                    span
                                        a(href="tel:+7 4712 73-19-18") +7 4712 73-19-18
                                    p Call-центр Пн-Пт с 8:00 до 17:00

                                li 
                                    span
                                        a(href="tel:+7 4712 73-18-92") +7 4712 73-18-92
                                    p Платные услуги

                                li 
                                    span Режим работы поликлиники
                                    p с 8:00 до18:00
                                li 
                                    span Приём передач для пациентов стационара ежедневно
                                    p с 7:00 до 15:00 и с 17:00 до 19:00
                        .first-block__btns 
                            button.blur ЗАПИСЬ НА ПЛАТНЫЕ УСЛУГИ
                            button.blur ЗАПИСЬ НА ПРИЕМ
                include modules/main-menu

            .page
                section.news 
                    .mews__wrapper._container
                        .block-head 
                            h2.title Новости
                            a(href="") Все новости
                                img(src="img/svg/arrow-right.svg" alt="")
                        .news__grid.news-grid 
                            .news-grid__item.news-grid__item--big
                                .news-head__pic
                                    img(src="img/news/pic3.png" alt="")
                                span.news-grid__date 27.09.2022
                                a(href="").news-grid__title Уважаемые пациенты!
                            .news-grid__item 
                                img(src="img/news/pic2.png" alt="")
                                .news-grid__col 
                                    span.news-grid__date 27.09.2022
                                    a(href="").news-grid__content 23–24 сентября 2022 года Санкт-Петербургская клиническая больница Российской Академии наук приглашает на научно-практическую конференцию «Поддерживающая терапия в онкологии. Что должен знать каждый врач? — III»
                            .news-grid__item 
                                img(src="img/news/pic1.png" alt="")
                                .news-grid__col 
                                    span.news-grid__date 27.09.2022
                                    a(href="").news-grid__content 23–24 сентября 2022 года Санкт-Петербургская клиническая больница Российской Академии наук приглашает на научно-практическую конференцию «Поддерживающая терапия в онкологии. Что должен знать каждый врач? — III»
                            .news-grid__item 
                                img(src="img/news/pic.png" alt="")
                                .news-grid__col 
                                    span.news-grid__date 27.09.2022
                                    a(href="").news-grid__content 23–24 сентября 2022 года Санкт-Петербургская клиническая больница Российской Академии наук приглашает на научно-практическую конференцию «Поддерживающая терапия в онкологии. Что должен знать каждый врач? — III»

                section.services.back-map
                    .services__wrapper._container
                        .block-head 
                            h2.title Наша деятельность
                        .services__content#tabs
                            ul.services__tabs.tabs-caption 
                                li(data-tab="1").trigger.active Пациентам 
                                li(data-tab="2").trigger ПЛАТНЫЕ УСЛУГИ
                                li(data-tab="3").trigger МЕДИЦИНА
                            .tabs-content-wrapper
                                .services__grid.grid.tabs-content.js-tab-content.active(data-tab="1").wrap
                                    .services__item.grid__item.box
                                        h3.services__title Отделения
                                        p.services__text Консультация с широким активом оказалась чрезвычайно полезной
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Консультации
                                        p.services__text Допустим, кровь стынет в жилах
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Диагностические обследования
                                        p.services__text Инцидент не исчерпан: был сорван доклад председателя совхоза
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Амбулаторное лечение
                                        p.services__text Окрестности Тулы оросил старческий скрип Амстердама
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Стационарное лечение
                                        p.services__text Новый закон накладывает вето на ласковый перезвон вертикали власти
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Детская онкология
                                        p.services__text Сложившаяся структура организации бодрит
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Наши специалисты
                                        p.services__text Нынче никто не может себе позволить инициировать трубный призыв
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Медицинская помощь
                                        p.services__text Выбранный нами инновационный путь станет частью наших традиций
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title График приёма граждан руководителем медицинской организации и иными уполномоченными лицами
                                        p.services__text 
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Платные услуги
                                        p.services__text Господа, в провинциях ещё есть чем поживиться
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Пациентам из районов
                                        p.services__text Свободу слова не задушить, пусть даже ночь оказалась долгой
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Программа государственных гарантий бесплатного оказания гражданам медицинской помощи
                                        p.services__text Не следует забывать, что прототип — не панацея
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Территориальная программа государственных гарантий бесплатного оказания медицинской помощи
                                        p.services__text Экономическая повестка сегодняшнего дня оказалась чрезвычайно полезной
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Порядок, объём и условия оказания медицинской помощи
                                        p.services__text Подтверждено: небо темнеет
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Показатели доступности и качества медицинской помощи
                                        p.services__text На двадцатом съезде партии прозвучало поразительное заявление: сплочённость команды профессионалов разочаровала
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Порядок оказания медицинской помощи населению по профилю «онкология»
                                        p.services__text Крепость духовных «скреп» процветает, как ни в чем не бывало
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Медицинский туризм
                                        p.services__text Внезапно, героям были возданы соответствующие почести
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Мedical tourism
                                        p.services__text Светлый лик правового взаимодействия не позволил союзу развалиться
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Часто задаваемые вопросы
                                        p.services__text Все чаще появляется информация о том, что постоянный количественный рост так же органично вписывается в наши планы
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>
                                    .box-spacer
                                    //- .services__item.grid__item.box.services__item.grid__item.box--empty
                                    //-     img(src="img/empty-block.png" alt="")

                                .services__grid.grid.tabs-content.js-tab-content(data-tab="2").wrap
                                    .services__item.grid__item.box
                                        h3.services__title Отделения
                                        p.services__text Консультация с широким активом оказалась чрезвычайно полезной
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Консультации
                                        p.services__text Допустим, кровь стынет в жилах
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Диагностические обследования
                                        p.services__text Инцидент не исчерпан: был сорван доклад председателя совхоза
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Амбулаторное лечение
                                        p.services__text Окрестности Тулы оросил старческий скрип Амстердама
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Стационарное лечение
                                        p.services__text Новый закон накладывает вето на ласковый перезвон вертикали власти
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Детская онкология
                                        p.services__text Сложившаяся структура организации бодрит
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Наши специалисты
                                        p.services__text Нынче никто не может себе позволить инициировать трубный призыв
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Медицинская помощь
                                        p.services__text Выбранный нами инновационный путь станет частью наших традиций
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title График приёма граждан руководителем медицинской организации и иными уполномоченными лицами
                                        p.services__text 
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Платные услуги
                                        p.services__text Господа, в провинциях ещё есть чем поживиться
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Пациентам из районов
                                        p.services__text Свободу слова не задушить, пусть даже ночь оказалась долгой
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Программа государственных гарантий бесплатного оказания гражданам медицинской помощи
                                        p.services__text Не следует забывать, что прототип — не панацея
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Территориальная программа государственных гарантий бесплатного оказания медицинской помощи
                                        p.services__text Экономическая повестка сегодняшнего дня оказалась чрезвычайно полезной
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Порядок, объём и условия оказания медицинской помощи
                                        p.services__text Подтверждено: небо темнеет
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Показатели доступности и качества медицинской помощи
                                        p.services__text На двадцатом съезде партии прозвучало поразительное заявление: сплочённость команды профессионалов разочаровала
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Порядок оказания медицинской помощи населению по профилю «онкология»
                                        p.services__text Крепость духовных «скреп» процветает, как ни в чем не бывало
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Медицинский туризм
                                        p.services__text Внезапно, героям были возданы соответствующие почести
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Мedical tourism
                                        p.services__text Светлый лик правового взаимодействия не позволил союзу развалиться
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Часто задаваемые вопросы
                                        p.services__text Все чаще появляется информация о том, что постоянный количественный рост так же органично вписывается в наши планы
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>
                                    .box-spacer
                                    //- .services__item.grid__item.box.services__item.grid__item.box--empty
                                    //-     img(src="img/empty-block.png" alt="")
                                .services__grid.grid.tabs-content.js-tab-content(data-tab="3").wrap
                                    .services__item.grid__item.box
                                        h3.services__title Отделения
                                        p.services__text Консультация с широким активом оказалась чрезвычайно полезной
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Консультации
                                        p.services__text Допустим, кровь стынет в жилах
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Диагностические обследования
                                        p.services__text Инцидент не исчерпан: был сорван доклад председателя совхоза
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Амбулаторное лечение
                                        p.services__text Окрестности Тулы оросил старческий скрип Амстердама
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Стационарное лечение
                                        p.services__text Новый закон накладывает вето на ласковый перезвон вертикали власти
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Детская онкология
                                        p.services__text Сложившаяся структура организации бодрит
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Наши специалисты
                                        p.services__text Нынче никто не может себе позволить инициировать трубный призыв
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Медицинская помощь
                                        p.services__text Выбранный нами инновационный путь станет частью наших традиций
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title График приёма граждан руководителем медицинской организации и иными уполномоченными лицами
                                        p.services__text 
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Платные услуги
                                        p.services__text Господа, в провинциях ещё есть чем поживиться
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Пациентам из районов
                                        p.services__text Свободу слова не задушить, пусть даже ночь оказалась долгой
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Программа государственных гарантий бесплатного оказания гражданам медицинской помощи
                                        p.services__text Не следует забывать, что прототип — не панацея
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Территориальная программа государственных гарантий бесплатного оказания медицинской помощи
                                        p.services__text Экономическая повестка сегодняшнего дня оказалась чрезвычайно полезной
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Порядок, объём и условия оказания медицинской помощи
                                        p.services__text Подтверждено: небо темнеет
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Показатели доступности и качества медицинской помощи
                                        p.services__text На двадцатом съезде партии прозвучало поразительное заявление: сплочённость команды профессионалов разочаровала
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Порядок оказания медицинской помощи населению по профилю «онкология»
                                        p.services__text Крепость духовных «скреп» процветает, как ни в чем не бывало
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Медицинский туризм
                                        p.services__text Внезапно, героям были возданы соответствующие почести
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Мedical tourism
                                        p.services__text Светлый лик правового взаимодействия не позволил союзу развалиться
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>

                                    .services__item.grid__item.box
                                        h3.services__title Часто задаваемые вопросы
                                        p.services__text Все чаще появляется информация о том, что постоянный количественный рост так же органично вписывается в наши планы
                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3217 4.89585C10.7685 4.38867 11.5143 4.36582 11.9875 4.84483L23.5 16.5L11.9875 28.1552C11.5143 28.6342 10.7685 28.6113 10.3217 28.1041C9.87483 27.597 9.89614 26.7975 10.3693 26.3185L20.0676 16.5L10.3693 6.68149C9.89614 6.20249 9.87483 5.40303 10.3217 4.89585Z" fill="rgba(27, 63, 94, 0.2)"/></svg>
                                    .box-spacer
                                    //- .services__item.grid__item.box.services__item.grid__item.box--empty
                                    //-     img(src="img/empty-block.png" alt="")

                section.banner
                    img(src="img/banner.png" alt="")            
                section.programs 
                    .programs__wrapper._container 
                        .block-head 
                            h2.title Государственные программы
                            .swiper-nav__programs 
                                .button-swiper.button-swiper__prev 
                                    img(src="img/svg/arrow-prev.svg" alt="")
                                .button-swiper.button-swiper__next
                                    img(src="img/svg/arrow-next.svg" alt="")
                        .swiper.swiper-programs
                            .swiper-wrapper 
                                .swiper-slide
                                    a(href="") 
                                        img(src="img/programs/item1.png" alt="" style="mix-blend-mode: multiply")
                                .swiper-slide
                                    a(href="") 
                                        img(src="img/programs/item2.png" alt="")
                                .swiper-slide
                                    a(href="") 
                                        img(src="img/programs/item3.png" alt="")
                                .swiper-slide
                                    a(href="") 
                                        img(src="img/programs/item4.png" alt="")
                                .swiper-slide
                                    a(href="") 
                                        img(src="img/programs/item5.png" alt="")
                                .swiper-slide
                                    a(href="") 
                                        img(src="img/programs/item6.png" alt="")
                                .swiper-slide
                                    a(href="") 
                                        img(src="img/programs/item6.png" alt="")
                                .swiper-slide
                                    a(href="") 
                                        img(src="img/programs/item6.png" alt="")

            include modules/footer
        include modules/script