doctype html
html(lang="ru")
  include modules/head
  body
    .wrapper
      .burger.show-menu.burger--blue
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_586_1017" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="32" height="32"><rect width="32" height="32" fill="#000018"/></mask><g mask="url(#mask0_586_1017)"><path d="M4 24V22H28V24H4ZM4 17V15H28V17H4ZM4 10V8H28V10H4Z" fill="#2F5372"/></g></svg>
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.2999 19.0999L0.899902 17.6999L8.5999 9.9999L0.899902 2.2999L2.2999 0.899902L9.9999 8.5999L17.6999 0.899902L19.0999 2.2999L11.3999 9.9999L19.0999 17.6999L17.6999 19.0999L9.9999 11.3999L2.2999 19.0999Z" fill="white"/></svg>
      include modules/header
      .page 
        .breadcrumbs._container
          a(href="") Главная 
          span 
          a(href="") О центре
          span 
          a.active Информация
        .information 
          .block-head._container 
            h1.title Курский онкологический научно-клинический центр им. Г.Е. Островерхова
          .information__wrapper 
            section.information__banner._container
              img(src="img/Frame153.png" alt="")
            section.information__section.back-dots.back-dots--1
              ._container
                h2 Заголовок про преимущества
                .information__texts 
                  ._mini-container
                    p Тут главный текст про то, что из себя представляет онкоцентр, чтобы показать его уровень! Далее временный текст 
                    p Есть над чем задуматься: непосредственные участники технического прогресса превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Есть над чем задуматься: тщательные исследования конкурентов призывают нас к новым свершениям, которые, в свою очередь, должны быть превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. 
                    p В рамках спецификации современных стандартов, сторонники тоталитаризма в науке могут быть объективно рассмотрены соответствующими инстанциями. Приятно, граждане, наблюдать, как сделанные на базе интернет-аналитики выводы формируют глобальную экономическую сеть и при этом — обнародованы.
                .information__descr 
                  .information__block
                    span 10 000 пациентов
                    span Ежегодно онкоцентр может принять до 10 000 пациентов в стационаре, без учёта поликлинической помощи
                  .information__block 
                    span Бесплатное лечение
                    span Вся медицинская помощь оказывается в рамках ОМС и оплачивается государством
                  .information__block
                    span Современное оборудование
                    span А также тщательные исследования конкурентов своевременно верифицированы. Господа, базовый вектор.
                  .information__block
                    span И ещё факт
                    span Разнообразный и богатый опыт говорит нам, что глубокий уровень погружения не даёт нам иного выбора.
            section.information__section
              h2._container История развития
              .section__content._container
                ._mini-container
                  p Первые онкологические учреждения появились на Курской земле в январе 1946 года: областной онкодиспансер, онкологический пункт в Белгороде, входившем тогда в состав Курской области, кабинет в курской городской поликлинике №2.
              .information__section 
                h3._container С чего все началось
                figure._container 
                  img(src="img/Rectangle20.png" alt="")
                  figcaption Подпись под фотографией. Если конечно есть старые фото как всё начиналось (2048 год)
                .information__texts.section__content.back-dots.back-dots--2
                  ._container 
                    ._mini-container
                      p Первые онкологические учреждения появились на Курской земле в январе 1946 года: областной онкодиспансер, онкологический пункт в Белгороде, входившем тогда в состав Курской области, кабинет в курской городской поликлинике №2. С 1947 года в течение трех лет для дистанционной лучевой терапии, основного метода лечения рака в то время, больные направлялись в Москву, Харьков, Воронеж. В январе 1950 года в онкодиспансере начали проводить глубокую рентгенотерапию. В этот период (с 1946 по 1950 год) закладывались основные методы организации онкологической помощи. В каждом районе были врачи, ответственные за проведение этой работы. В штате диспансера первоначально состояло 4 человека: главный врач Иван Клименко, врач-радиолог Анна Лядова, медсестра Александра Петрова, медстатистик Ольга Соколова. Начало развития цитологии в регионе положили Александра Грюнберг и Лидия Гурвич. Благодаря своей лаборатории, сроки диагностики сократились.
                      p Официальная онкологическая статистика появилась в 1956 году. Рак желудка за эти годы вырос в 1,2 раза, легкого - в 62 раза, молочной железы - в 6,5 раза, прямой кишки - в 16 раз. На конец 1949 года на учете состояло 2564 больных, а на конец 2005 года - 24 029 человек, что больше в 9,5 раза.
                      p В сентябре 1973 года были госпитализированы первые больные в новое здание онкологии. В штате диспансера состояло уже 112 человек. Функционировали отделения: диспансерное, радиологическое, хирургическое, гинекологическое, диагностическое. Впервые больные со злокачественными новообразованиями начали получать специализированную помощь централизованно. В районах области и в Курске была создана сеть смотровых кабинетов для раннего выявления предопухолевых и опухолевых заболеваний. Историческим стало событие 1975 года - онкодиспансер первым в области получил эндоскопическую аппаратуру - 3 фиброскопа. В этом же году была открыта радиоизотопная лаборатория. В лучевом лечении произошла революция. 
                .information__quote.section__content._container   
                  ._mini-container
                    p Первые онкологические учреждения появились на Курской земле в январе 1946 года: областной онкодиспансер, онкологический пункт в Белгороде, входившем тогда в состав Курской области, кабинет в курской городской поликлинике №2.
              .information__section
                ._container
                  ._mini-container 
                    h2 Онкоцентр сейчас
                    p Сегодня Курский областной онкодиспансер располагает 300 стационарными койками и является крупным лечебно-диагностическим и организационно-методическим центром. Функционируют 4 хирургических отделения, диспансерное, химиотерапевтическое, радиологическое отделения, дневной стационар, диагностические и вспомогательные службы. По словам главного врача Игоря Киселева, в стенах диспансера ежегодно стационарно лечится около 7000 больных, выполняется 3500 операций, более 70 тысяч больных обследуются и лечатся амбулаторно. Рост заболеваемости и расширение возможностей хирургического метода ведут к неуклонному росту и интенсификации хирургической деятельности.
                    h4 H4 заголовок
                    h5 H5 заголовок
                    h6 H6 заголовок
                    p Курский онкодиспансер является признанным в России центром по лечению рака пищевода, простаты, мочевого пузыря, опухолей головы и шеи и другим локализациям. Используются почти все современные лекарственные препараты и методики лечения, рекомендуемые к применению ведущими научно-исследовательскими онкологическими институтами России. Большое внимание уделяется профилактике побочных явлений и улучшению качества жизни больных, получающих лечение. Помощь больным в настоящее время оказывают 82 врача и 145 медработников. Пять врачей имеют ученую степень кандидата медицинских наук, 42 врача и 45 медсестер - высшую квалификационную категорию. Диспансер является клинической базой кафедры онкологии КГМУ.




      include modules/footer
    include modules/script