extends templates/layout

block main 
  .page
    ._container 
      .breadcrumbs 
        a(href="") Предыдущий ЛВЛ крошка
      section.main-banner
        h1 Лицензии и контроллирующие органы
      .licenses 
        section.licenses__row 
          .licenses__block 
            h3 Medical на ул. Пушкина
            ul 
              li 
                p Полное наименование организации:
              li 
                p ООО «Стоматологическая клиника Здоровые Зубы»
              li 
                p Сокращённое наименование:
              li 
                p ООО «Здоровые Зубы»
              li 
                p Зарегистрировано:
              li 
                p Межрайонной инспекцией ФНС № 15 по Городскому округу Александровск
              li 
                p ИНН 1234567890
              li 
                p Свидетельство о государственной регистрации юридического лица
              li 
                p серия 56 № 987654321 от 10.10.2022 г
              li 
                p ОГРН 1122334455667
              li 
                p Свидетельство о внесении записи в ЕГРЮЛ Серия 78 № 543210987 от 15.10.2022 г.
              li 
                p Сведения о учредителях:
              li 
                p Иванов Иван Иванович
              li 
                p Сведения об адресе (месте нахождения):
              li 
                p 660001, г. Александровск, ул. Цветочная дом 5, офис 102.
              li 
                p Генеральный директор:
              li 
                p Иванов Иван Иванович
              li 
                p Тел. 8 123 456 78 90

            .licenses__links 
              a(href="")
                img(src="img/icons/icn_m__download.svg" alt="")
                span Лицензия на медицинскую деятельность
              a(href="")
                img(src="img/icons/icn_m__download.svg" alt="")
                span Лицензия на проведение медицинских процедур
              a(href="")
                img(src="img/icons/icn_m__download.svg" alt="")
                span Лицензия на фармацевтическую деятельность  
          .licenses__block 
            h3 Medical на ул. Пушкина
            ul 
              li 
                p Полное наименование организации:
              li 
                p ООО «Стоматологическая клиника Здоровые Зубы»
              li 
                p Сокращённое наименование:
              li 
                p ООО «Здоровые Зубы»
              li 
                p Зарегистрировано:
              li 
                p Межрайонной инспекцией ФНС № 15 по Городскому округу Александровск
              li 
                p ИНН 1234567890
              li 
                p Свидетельство о государственной регистрации юридического лица
              li 
                p серия 56 № 987654321 от 10.10.2022 г
              li 
                p ОГРН 1122334455667
              li 
                p Свидетельство о внесении записи в ЕГРЮЛ Серия 78 № 543210987 от 15.10.2022 г.
              li 
                p Сведения о учредителях:
              li 
                p Иванов Иван Иванович
              li 
                p Сведения об адресе (месте нахождения):
              li 
                p 660001, г. Александровск, ул. Цветочная дом 5, офис 102.
              li 
                p Генеральный директор:
              li 
                p Иванов Иван Иванович
              li 
                p Тел. 8 123 456 78 90

            .licenses__links 
              a(href="")
                img(src="img/icons/icn_m__download.svg" alt="")
                span Лицензия на медицинскую деятельность
              a(href="")
                img(src="img/icons/icn_m__download.svg" alt="")
                span Лицензия на проведение медицинских процедур
              a(href="")
                img(src="img/icons/icn_m__download.svg" alt="")
                span Лицензия на фармацевтическую деятельность  
        section
          h3 Контролирующие органы
          .licenses__row 
            .licenses__block
              h5 Управление Росздравнадзора по Ореховскому краю Адрес:
              ul 
                li 
                  p пр. Победы, 99, Орехово, Ореховский край, 660099 
                li 
                  p Телефон приёмной:
                li 
                  p (123) 456–78–90 
                li 
                  p Email:
                li 
                  p info@reg24.roszdravnadzor.gov.ru

            .licenses__block
              h5 Управление Роспотребнадзора по Ореховскому краю
              ul 
                li 
                  p Почтовый адрес для направления письменных обращений:
                li 
                  p ул. Садовая, 7, г. Орехово, 660099, Управление Роспотребнадзора по Ореховскому краю.
                li 
                  p Адрес: 
                li 
                  p 660099, г. Орехово, ул. Садовая, д. 7
                li 
                  p Обращения в электронном виде:
                li 
                  p www.24.rospotrebnadzor.ru. 
                li 
                  p Телефон:
                li 
                  p 8 (123) 456–78–90 (многоканальный)

            .licenses__block
              h5 Лицензионный комитет Министерства здравоохранения Орехового края
              ul 
                li 
                  p Почтовый адрес для направления письменных обращений:
                li 
                  p ул. Садовая, 7, г. Орехово, 660099, Управление Роспотребнадзора по Ореховскому краю.
                li 
                  p Адрес: 
                li 
                  p 660099, г. Орехово, ул. Садовая, д. 7
                li 
                  p Обращения в электронном виде:
                li 
                  p www.24.rospotrebnadzor.ru. 
                li 
                  p Телефон:
                li 
                  p 8 (123) 456–78–90 (многоканальный)