extends templates/layout

block main 
  .page.page-lk-content
    ._container 
      .breadcrumbs 
        a(href="") Предыдущий ЛВЛ крошка
      section.main-banner.main-banner--mode
        h1#lk-header История записей
      section.lk-content.tabs
        .lk-content__aside 
          ul.tabs__caption
            li(data-title="История записей").active История записей
            li(data-title="Личные данные") Личные данные
            li(data-title="Мои отзывы") Мои отзывы
          ul.lk-content__aside-bottom
            a
              span Выйти
              img(src="img/icons/icn_m_logout.svg" alt="")
        .lk-content__inner
          .lk-content__history.history.tabs__content.active
            .item 
              .item__head 
                .item__col
                  p Запись от 20.02.2024
                  p Стоимость: 9 000 ₽ 
                button.btn.rollup Поробнее
              .item__body
                .row.row__head
                  .col 
                    a  Наименование услуги
                  .col 
                    span Цена

                .row
                  .col 
                    a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a(href="")  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽
                .row
                  .col 
                    a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a(href="")  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a(href="")  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a(href="")  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽
              button.btn.btn--mobile.rollup Поробнее
            .item 
              .item__head 
                .item__col
                  p Запись от 20.02.2024
                  p Стоимость: 9 000 ₽ 
                button.btn.rollup Подробнее
              .item__body
                .row.row__head
                  .col 
                    a  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span Цена

                .row
                  .col 
                    a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a(href="")  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽
                .row
                  .col 
                    a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a(href="")  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a(href="")  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a(href="")  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽
              button.btn.btn--mobile.rollup Поробнее
            .item 
              .item__head 
                .item__col
                  p Запись от 20.02.2024
                  p Стоимость: 9 000 ₽ 
                button.btn.rollup Подробнее
              .item__body
                .row.row__head
                  .col 
                    a  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span Цена

                .row
                  .col 
                    a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a(href="")  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽
                .row
                  .col 
                    a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a(href="")  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a(href="")  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a(href="")  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽
              button.btn.btn--mobile.rollup Поробнее
            .item 
              .item__head 
                .item__col
                  p Запись от 20.02.2024
                  p Стоимость: 9 000 ₽ 
                button.btn.rollup Подробнее
              .item__body
                .row.row__head
                  .col 
                    a  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span Цена

                .row
                  .col 
                    a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a(href="")  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽
                .row
                  .col 
                    a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a(href="")  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a(href="")  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a(href="")  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽
              button.btn.btn--mobile.rollup Поробнее

            .item 
              .item__head 
                .item__col
                  p Запись от 20.02.2024
                  p Стоимость: 9 000 ₽ 
                button.btn.rollup Подробнее
              .item__body
                .row.row__head
                  .col 
                    a  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span Цена

                .row
                  .col 
                    a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a(href="")  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽
                .row
                  .col 
                    a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a(href="")  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a(href="")  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a(href="")  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽
              button.btn.btn--mobile.rollup Поробнее

            .item 
              .item__head 
                .item__col
                  p Запись от 20.02.2024
                  p Стоимость: 9 000 ₽ 
                button.btn.rollup Подробнее
              .item__body
                .row.row__head
                  .col 
                    a  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span Цена

                .row
                  .col 
                    a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a(href="")  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽
                .row
                  .col 
                    a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a(href="")  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a(href="")  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽

                .row
                  .col 
                    a(href="")  Название с которого можно провалиться в описание анализа. Сам текст - ссылка
                  .col 
                    span 1500 ₽
              button.btn.btn--mobile.rollup Поробнее
          .lk-content__personal.tabs__content.personal 
            .personal__block 
              h3 Контактные данные
              .personal__row
                label(for="") Имя
                .input 
                  input(type="text")
              .personal__row
                label(for="") Номер телефона
                .input 
                  input(type="text")
              .personal__row
                label(for="") Электронная почта
                .input 
                  input(type="text")
              .personal__bottom 
                button.btn Сохранить
                .personal__btn-label 
                  img(src="img/icons/save.svg" alt="")
                  span Данные сохранены

            .personal__block 
              h3 Изменить пароль
              .personal__row.personal__row--pass
                label(for="") Введите старый пароль
                .personal__input.personal__input--password
                  .input 
                    input(type="password")
              .personal__row.personal__row--pass
                label(for="") Введите новый пароль
                .personal__input.personal__input--password
                  .input 
                    input(type="password")
              .personal__row.personal__row--pass
                label(for="") Повторите новый пароль
                .personal__input.personal__input--password
                  .input 
                    input(type="password")
              .personal__bottom 
                button.btn Сохранить
                .personal__btn-label 
                  img(src="img/icons/save.svg" alt="")
                  span Данные сохранены
          .lk-content__reviews.tabs__content
            .reviews
              div
              .block-info.block-color.block-info--quote
                .block-info__inner 
                  h4 Ваше мнение имеет значение!
                  .block-info__text 
                    p Если у вас возникли вопросы или вам требуется медицинская помощь в области акушерства и гинекологии, не стесняйтесь обратиться к доктору Анне Ивановой. Она будет рада приветствовать вас в своей практике и помочь вам достичь оптимального здоровья и благополучия.
                    p Если у вас возникли вопросы или вам требуется медицинская помощь в области акушерства и гинекологии, не стесняйтесь обратиться к доктору Анне Ивановой. Она будет рада приветствовать вас в своей практике и помочь вам достичь оптимального здоровья и благополучия.

              .block-info.block-color.block-info--quote
                .block-info__inner 
                  h4 Ваше мнение имеет значение!
                  .block-info__text 
                    p Если у вас возникли вопросы или вам требуется медицинская помощь в области акушерства и гинекологии, не стесняйтесь обратиться к доктору Анне Ивановой. Она будет рада приветствовать вас в своей практике и помочь вам достичь оптимального здоровья и благополучия.
                    p Если у вас возникли вопросы или вам требуется медицинская помощь в области акушерства и гинекологии, не стесняйтесь обратиться к доктору Анне Ивановой. Она будет рада приветствовать вас в своей практике и помочь вам достичь оптимального здоровья и благополучия.
              .block-info.block-color.block-info--quote
                .block-info__inner 
                  h4 Ваше мнение имеет значение!
                  .block-info__text 
                    p Если у вас возникли вопросы или вам требуется медицинская помощь в области акушерства и гинекологии, не стесняйтесь обратиться к доктору Анне Ивановой. Она будет рада приветствовать вас в своей практике и помочь вам достичь оптимального здоровья и благополучия.
                    p Если у вас возникли вопросы или вам требуется медицинская помощь в области акушерства и гинекологии, не стесняйтесь обратиться к доктору Анне Ивановой. Она будет рада приветствовать вас в своей практике и помочь вам достичь оптимального здоровья и благополучия.

              .block-info.block-color.block-info--quote
                .block-info__inner 
                  h4 Ваше мнение имеет значение!
                  .block-info__text 
                    p Если у вас возникли вопросы или вам требуется медицинская помощь в области акушерства и гинекологии, не стесняйтесь обратиться к доктору Анне Ивановой. Она будет рада приветствовать вас в своей практике и помочь вам достичь оптимального здоровья и благополучия.
                    p Если у вас возникли вопросы или вам требуется медицинская помощь в области акушерства и гинекологии, не стесняйтесь обратиться к доктору Анне Ивановой. Она будет рада приветствовать вас в своей практике и помочь вам достичь оптимального здоровья и благополучия.

              .block-info.block-color.block-info--quote
                .block-info__inner 
                  h4 Ваше мнение имеет значение!
                  .block-info__text 
                    p Если у вас возникли вопросы или вам требуется медицинская помощь в области акушерства и гинекологии, не стесняйтесь обратиться к доктору Анне Ивановой. Она будет рада приветствовать вас в своей практике и помочь вам достичь оптимального здоровья и благополучия.
                    p Если у вас возникли вопросы или вам требуется медицинская помощь в области акушерства и гинекологии, не стесняйтесь обратиться к доктору Анне Ивановой. Она будет рада приветствовать вас в своей практике и помочь вам достичь оптимального здоровья и благополучия.



