extends templates/layout

block main 
  .page
    ._container 
      .breadcrumbs 
        a(href="") Предыдущий ЛВЛ крошка 
      section.main-banner
        h1 Новости/статьи/акции
      section.news 
        .news__inner
          a(href="").item 
            .item__pic 
              img(src="img/images/pic7.jpg", alt="")
            .date 22.02.2022
            h5 Верстаем эт карточки из news-special. Только теперь из 3 а не 1 (как на главной)
          a(href="").item 
            .item__pic 
              img(src="img/images/pic7.jpg", alt="")
            .date 22.02.2022
            h5 Верстаем эт карточки из news-special. Только теперь из 3 а не 1 (как на главной)
          a(href="").item 
            .item__pic 
              img(src="img/images/pic7.jpg", alt="")
            .date 22.02.2022
            h5 Верстаем эт карточки из news-special. Только теперь из 3 а не 1 (как на главной)
          a(href="").item 
            .item__pic 
              img(src="img/images/pic7.jpg", alt="")
            .date 22.02.2022
            h5 Верстаем эт карточки из news-special. Только теперь из 3 а не 1 (как на главной)
          a(href="").item 
            .item__pic 
              img(src="img/images/pic7.jpg", alt="")
            .date 22.02.2022
            h5 Верстаем эт карточки из news-special. Только теперь из 3 а не 1 (как на главной)
          a(href="").item 
            .item__pic 
              img(src="img/images/pic7.jpg", alt="")
            .date 22.02.2022
            h5 Верстаем эт карточки из news-special. Только теперь из 3 а не 1 (как на главной)
          a(href="").item 
            .item__pic 
              img(src="img/images/pic7.jpg", alt="")
            .date 22.02.2022
            h5 Верстаем эт карточки из news-special. Только теперь из 3 а не 1 (как на главной)
          a(href="").item 
            .item__pic 
              img(src="img/images/pic7.jpg", alt="")
            .date 22.02.2022
            h5 Верстаем эт карточки из news-special. Только теперь из 3 а не 1 (как на главной)
          a(href="").item 
            .item__pic 
              img(src="img/images/pic7.jpg", alt="")
            .date 22.02.2022
            h5 Верстаем эт карточки из news-special. Только теперь из 3 а не 1 (как на главной)
        .pagination 
          a.active 1
          a 2
          a 3
          a ...
          a 99