extends templates/layout

block main 
  .page
    ._container 
      .breadcrumbs 
        a(href="") Предыдущий ЛВЛ крошка
      section.main-banner
        h1 Отзывы
      section.reviews
        .block-info.block-color
          .block-info__inner 
            h3 Ваше мнение имеет значение! 
            p.strong Если у вас возникли вопросы или вам требуется медицинская помощь в области акушерства и гинекологии, не стесняйтесь обратиться к доктору Анне Ивановой. Она будет рада приветствовать вас в своей практике и помочь вам достичь оптимального здоровья и благополучия.
            .block-info__bottom
              button.btn#showModalVacancy Оставить отзыв

        .block-info.block-color.block-info--quote
          .block-info__inner 
            h4 Ваше мнение имеет значение!
            .block-info__text 
              p Если у вас возникли вопросы или вам требуется медицинская помощь в области акушерства и гинекологии, не стесняйтесь обратиться к доктору Анне Ивановой. Она будет рада приветствовать вас в своей практике и помочь вам достичь оптимального здоровья и благополучия.
              p Если у вас возникли вопросы или вам требуется медицинская помощь в области акушерства и гинекологии, не стесняйтесь обратиться к доктору Анне Ивановой. Она будет рада приветствовать вас в своей практике и помочь вам достичь оптимального здоровья и благополучия.

        .block-info.block-color.block-info--quote
          .block-info__inner 
            h4 Ваше мнение имеет значение!
            .block-info__text 
              p Если у вас возникли вопросы или вам требуется медицинская помощь в области акушерства и гинекологии, не стесняйтесь обратиться к доктору Анне Ивановой. Она будет рада приветствовать вас в своей практике и помочь вам достичь оптимального здоровья и благополучия.
              p Если у вас возникли вопросы или вам требуется медицинская помощь в области акушерства и гинекологии, не стесняйтесь обратиться к доктору Анне Ивановой. Она будет рада приветствовать вас в своей практике и помочь вам достичь оптимального здоровья и благополучия.
        .block-info.block-color.block-info--quote
          .block-info__inner 
            h4 Ваше мнение имеет значение!
            .block-info__text 
              p Если у вас возникли вопросы или вам требуется медицинская помощь в области акушерства и гинекологии, не стесняйтесь обратиться к доктору Анне Ивановой. Она будет рада приветствовать вас в своей практике и помочь вам достичь оптимального здоровья и благополучия.
              p Если у вас возникли вопросы или вам требуется медицинская помощь в области акушерства и гинекологии, не стесняйтесь обратиться к доктору Анне Ивановой. Она будет рада приветствовать вас в своей практике и помочь вам достичь оптимального здоровья и благополучия.

        .block-info.block-color.block-info--quote
          .block-info__inner 
            h4 Ваше мнение имеет значение!
            .block-info__text 
              p Если у вас возникли вопросы или вам требуется медицинская помощь в области акушерства и гинекологии, не стесняйтесь обратиться к доктору Анне Ивановой. Она будет рада приветствовать вас в своей практике и помочь вам достичь оптимального здоровья и благополучия.
              p Если у вас возникли вопросы или вам требуется медицинская помощь в области акушерства и гинекологии, не стесняйтесь обратиться к доктору Анне Ивановой. Она будет рада приветствовать вас в своей практике и помочь вам достичь оптимального здоровья и благополучия.

        .block-info.block-color.block-info--quote
          .block-info__inner 
            h4 Ваше мнение имеет значение!
            .block-info__text 
              p Если у вас возникли вопросы или вам требуется медицинская помощь в области акушерства и гинекологии, не стесняйтесь обратиться к доктору Анне Ивановой. Она будет рада приветствовать вас в своей практике и помочь вам достичь оптимального здоровья и благополучия.
              p Если у вас возникли вопросы или вам требуется медицинская помощь в области акушерства и гинекологии, не стесняйтесь обратиться к доктору Анне Ивановой. Она будет рада приветствовать вас в своей практике и помочь вам достичь оптимального здоровья и благополучия.

        .pagination 
          a.active 1
          a 2
          a 3
          a ...
          a 99