doctype html
html(lang="ru")
  include modules/head
  body
    .wrapper
      include modules/burger-inner
      include modules/header
      .page 
        .breadcrumbs._container
          a(href="") Главная 
          span 
          a.active Поиск
        section.search-page 
          .search-page__wrapper._container 
            .block-head 
              h1.title Поиск
            .search-page__head 
              input(type="text" placeholder="Продам гараж")
              button.btn-default.btn-default--blue Найти
            .search-page__content 
              .item
                .item__name Продам гараж
                p Как уже неоднократно упомянуто, ключевые особенности структуры проекта неоднозначны и будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.
                .item__breadcrumbs 
                  a(href="") Главная
                  span 
                  a(href="") Где лежит результат
                  span
                  a(href="") Где лежит результат
              .item
                .item__name Продам гараж
                p Как уже неоднократно упомянуто, ключевые особенности структуры проекта неоднозначны и будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.
                .item__breadcrumbs 
                  a(href="") Главная
                  span 
                  a(href="") Где лежит результат
                  span
                  a(href="") Где лежит результат
              .item
                .item__name Продам гараж
                p Как уже неоднократно упомянуто, ключевые особенности структуры проекта неоднозначны и будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.
                .item__breadcrumbs 
                  a(href="") Главная
                  span 
                  a(href="") Где лежит результат
                  span
                  a(href="") Где лежит результат
              .item
                .item__name Продам гараж
                p Как уже неоднократно упомянуто, ключевые особенности структуры проекта неоднозначны и будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.
                .item__breadcrumbs 
                  a(href="") Главная
                  span 
                  a(href="") Где лежит результат
                  span
                  a(href="") Где лежит результат
              .item
                .item__name Продам гараж
                p Как уже неоднократно упомянуто, ключевые особенности структуры проекта неоднозначны и будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.
                .item__breadcrumbs 
                  a(href="") Главная
                  span 
                  a(href="") Где лежит результат
                  span
                  a(href="") Где лежит результат
              .item
                .item__name Продам гараж
                p Как уже неоднократно упомянуто, ключевые особенности структуры проекта неоднозначны и будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.
                .item__breadcrumbs 
                  a(href="") Главная
                  span 
                  a(href="") Где лежит результат
                  span
                  a(href="") Где лежит результат
              .item
                .item__name Продам гараж
                p Как уже неоднократно упомянуто, ключевые особенности структуры проекта неоднозначны и будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.
                .item__breadcrumbs 
                  a(href="") Главная
                  span 
                  a(href="") Где лежит результат
                  span
                  a(href="") Где лежит результат
              .item
                .item__name Продам гараж
                p Как уже неоднократно упомянуто, ключевые особенности структуры проекта неоднозначны и будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.
                .item__breadcrumbs 
                  a(href="") Главная
                  span 
                  a(href="") Где лежит результат
                  span
                  a(href="") Где лежит результат
              .item
                .item__name Продам гараж
                p Как уже неоднократно упомянуто, ключевые особенности структуры проекта неоднозначны и будут превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.
                .item__breadcrumbs 
                  a(href="") Главная
                  span 
                  a(href="") Где лежит результат
                  span
                  a(href="") Где лежит результат
              button.btn-default.btn-default--center Показать ещё
              include modules/pagination

      include modules/footer
    include modules/script