extends templates/layout

block main 
  .page
    ._container 
      .breadcrumbs 
        a(href="") Предыдущий ЛВЛ крошка
      section.main-banner
        h1 МРТ
      section.service 
        .service__text
          p.strong Куда же без СЕО-шного текста об услуге? Правильно, НИ-КУ-ДА! Он должен быть на этом месте и желательно не самого большого объёму. Кратко, самая выжимка «Как важно и классно делать МРТ». Уууух!‥ С утра до ночи всей семьёй бы делал. Клац. Клац. Вжжжжжжжж…
          p.strong Таблица с данными об анализах, но диагностики имеют такие же коды и названия, так что таблица остаётся по сути той же.
        .service__table.service-table 
          .service-table__head 
            .row
              .col 
                span Код услуги
              .col 
                span Наименование услуги
              .col 
                span Цена
              .col 
                button.btn Добавить в записи
          .service-table__body 
            .row
              .col
                p А08.05.001
              .col
                a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
              .col
                p 1500 ₽
              .col
                button.btn2 Удалить
            .row
              .col
                p А08.05.001
              .col
                a(href="") Название с которого можно провалиться в описание анализа. Сам текст - ссылка
              .col
                p 1500 ₽
              .col
                button.btn Добавить в записи
            .row
              .col
                p А08.05.001
              .col
                a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
              .col
                p 1500 ₽
              .col
                button.btn Добавить в записи
            .row
              .col
                p А08.05.001
              .col
                a(href="") Название с которого можно провалиться в описание анализа. Сам текст - ссылка
              .col
                p 1500 ₽
              .col
                button.btn Добавить в записи
            .row
              .col
                p А08.05.001
              .col
                a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
              .col
                p 1500 ₽
              .col
                button.btn Добавить в записи
            .row
              .col
                p А08.05.001
              .col
                a(href="") Название с которого можно провалиться в описание анализа. Сам текст - ссылка
              .col
                p 1500 ₽
              .col
                button.btn Добавить в записи
            .row
              .col
                p А08.05.001
              .col
                a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
              .col
                p 1500 ₽
              .col
                button.btn Добавить в записи
            .row
              .col
                p А08.05.001
              .col
                a(href="") Название с которого можно провалиться в описание анализа. Сам текст - ссылка
              .col
                p 1500 ₽
              .col
                button.btn Добавить в записи
            .row
              .col
                p А08.05.001
              .col
                a Название с которого можно провалиться в описание анализа. Сам текст - ссылка
              .col
                p 1500 ₽
              .col
                button.btn Добавить в записи

        .pagination 
          a.active 1
          a 2
          a 3
          a ...
          a 99
