extends templates/layout

block main 
  .page
    ._container 
      .breadcrumbs 
        a(href="") Предыдущий ЛВЛ крошка
      section.main-banner
        h1 Аллерголог-иммунолог
      section.specialists
        .specialists__inner
          .specialists__item
            img(src="img/images/spec1.jpg" alt="")
            h4 Иванова Екатерина Владимировна
            span Аллерголог-иммунолог
          .specialists__item
            img(src="img/images/spec1.jpg" alt="")
            h4 Иванова Екатерина Владимировна
            span Аллерголог-иммунолог
          .specialists__item
            img(src="img/images/spec1.jpg" alt="")
            h4 Иванова Екатерина Владимировна
            span Аллерголог-иммунолог
          .specialists__item
            img(src="img/images/spec1.jpg" alt="")
            h4 Иванова Екатерина Владимировна
            span Аллерголог-иммунолог
          .specialists__item
            img(src="img/images/spec1.jpg" alt="")
            h4 Иванова Екатерина Владимировна
            span Аллерголог-иммунолог
          .specialists__item
            img(src="img/images/spec1.jpg" alt="")
            h4 Иванова Екатерина Владимировна
            span Аллерголог-иммунолог
          .specialists__item
            img(src="img/images/spec1.jpg" alt="")
            h4 Иванова Екатерина Владимировна
            span Аллерголог-иммунолог
          .specialists__item
            img(src="img/images/spec1.jpg" alt="")
            h4 Иванова Екатерина Владимировна
            span Аллерголог-иммунолог
          .specialists__item
            img(src="img/images/spec1.jpg" alt="")
            h4 Иванова Екатерина Владимировна
            span Аллерголог-иммунолог
          .specialists__item
            img(src="img/images/spec1.jpg" alt="")
            h4 Иванова Екатерина Владимировна
            span Аллерголог-иммунолог
          .specialists__item
            img(src="img/images/spec1.jpg" alt="")
            h4 Иванова Екатерина Владимировна
            span Аллерголог-иммунолог
          .specialists__item
            img(src="img/images/spec1.jpg" alt="")
            h4 Иванова Екатерина Владимировна
            span Аллерголог-иммунолог
            
        .pagination 
          a.active 1
          a 2
          a 3
          a ...
          a 99