extends templates/layout

block main 
  .page
    ._container 
      .breadcrumbs 
        a(href="") Предыдущий ЛВЛ крошка
      section.main-banner
        h1 Вакансии
      section.vacancy
        .block-info.vacancy__empty 
          h3 В данный момент нет активных вакансий
          .block-info__text 
            p В данный момент наш медицинский центр не имеет активных вакансий. Однако, мы всегда стремимся привлечь и работать с лучшими специалистами в отрасли. Если вы являетесь врачом и заинтересованы в возможности присоединиться к нашей команде, мы всегда открыты к приёму резюме.
            p Пожалуйста, отправьте своё резюме на указанный адрес электронной почты, и мы рассмотрим вашу кандидатуру при появлении подходящей вакансии. Благодарим вас за проявленный интерес к нашему медицинскому центру.
          a(href="mailto:hr@email.su").block-info__link 
            img(src="img/icons/icn_m_mail-blue.svg", alt="")
            span hr@email.su