extends templates/layout

block main 
    .page
        ._container 
            .breadcrumbs 
                a(href="") Предыдущий ЛВЛ крошка 
            section.main-banner
                h1 Медицинский Секретарь/Администратор
            section 
                .content-block
                    p.strong Медицинский центр приглашает в свою команду энергичного и ответственного Медицинского Секретаря/Администратора. Если вы стремитесь работать в динамичной медицинской среде, обладаете организационными навыками и отличной коммуникабельностью, это предложение для вас!
                .content-block
                    h3 Обязанности:
                    ul 
                        li Прием и организация входящих и исходящих телефонных звонков, электронных писем и запросов пациентов.
                        li Запись пациентов на прием, координация расписания врачей.
                        li Управление медицинскими документами, включая истории болезни и результаты анализов.
                        li Обеспечение правильного хранения и конфиденциальности медицинской информации.
                        li Обслуживание посетителей и пациентов, оказание информационной поддержки.
                        li Сотрудничество с медицинским персоналом и другими отделами центра для обеспечения эффективного функционирования офиса. 
                .content-block
                    h3 Требования:
                    ul
                        li Опыт работы в административной или секретарской должности в медицинской сфере будет преимуществом.
                        li Хорошее знание медицинской терминологии и процедур.
                        li Отличные навыки организации и управления временем.
                        li Коммуникабельность и дружелюбное отношение к пациентам.
                        li Умение работать в команде и эффективно координировать процессы.
                        li Высокий уровень конфиденциальности и этичности.
                .content-block
                    h3 Мы предлагаем:
                    ul 
                        li Конкурентную заработную плату и возможность профессионального роста.
                        li Дружелюбную и поддерживающую рабочую среду.
                        li Возможность работать в стабильном и прогрессивном медицинском учреждении.

                button.btn#showModalVacancy Откликнуться на вакансию