extends templates/layout

block main 
  .page
    ._container 
      .breadcrumbs 
        a(href="") Предыдущий ЛВЛ крошка
      section.main-banner
        h1 Вакансии
      section.vacancy
        .vacancy__inner
          .block-info.block-color 
            h3 Врач-терапевт
            ul 
              li
                span.subtitle Зарплата:
                p Договорная
              li
                span.subtitle График работы:  
                p Полный рабочий день
              li
                span.subtitle Требования к опыту работы:
                p Опыт работы в общей медицине не менее 3 лет, наличие медицинской лицензии.
            button.btn Подробнее
          .block-info.block-color 
            h3 Врач-терапевт
            ul 
              li
                span.subtitle Зарплата:
                p Договорная
              li
                span.subtitle График работы:  
                p Полный рабочий день
              li
                span.subtitle Требования к опыту работы:
                p Опыт работы в административной должности не менее 2 лет, хорошее знание организации медицинской учреждения и клиентского обслуживания. Опыт работы в административной должности не менее 2 лет, хорошее знание организации медицинской учреждения и клиентского обслуживания.
            button.btn Подробнее
          .block-info.block-color 
            h3 Врач-терапевт
            ul 
              li
                span.subtitle Зарплата:
                p Договорная
              li
                span.subtitle График работы:  
                p Полный рабочий день
              li
                span.subtitle Требования к опыту работы:
                p Опыт работы в общей медицине не менее 3 лет, наличие медицинской лицензии.
            button.btn Подробнее
          .block-info.block-color 
            h3 Врач-терапевт
            ul 
              li
                span.subtitle Зарплата:
                p Договорная
              li
                span.subtitle График работы:  
                p Полный рабочий день
              li
                span.subtitle Требования к опыту работы:
                p Опыт работы в общей медицине не менее 3 лет, наличие медицинской лицензии.
            button.btn Подробнее
          .block-info.block-color 
            h3 Врач-терапевт
            ul 
              li
                span.subtitle Зарплата:
                p Договорная
              li
                span.subtitle График работы:  
                p Полный рабочий день
              li
                span.subtitle Требования к опыту работы:
                p Опыт работы в административной должности не менее 2 лет, хорошее знание организации медицинской учреждения и клиентского обслуживания. Опыт работы в административной должности не менее 2 лет, хорошее знание организации медицинской учреждения и клиентского обслуживания.
            button.btn Подробнее
          .block-info.block-color 
            h3 Врач-терапевт
            ul 
              li
                span.subtitle Зарплата:
                p Договорная
              li
                span.subtitle График работы:  
                p Полный рабочий день
              li
                span.subtitle Требования к опыту работы:
                p Опыт работы в общей медицине не менее 3 лет, наличие медицинской лицензии.
            button.btn Подробнее
          .block-info.block-color 
            h3 Врач-терапевт
            ul 
              li
                span.subtitle Зарплата:
                p Договорная
              li
                span.subtitle График работы:  
                p Полный рабочий день
              li
                span.subtitle Требования к опыту работы:
                p Опыт работы в общей медицине не менее 3 лет, наличие медицинской лицензии.
            button.btn Подробнее


        .pagination 
          a.active 1
          a 2
          a 3
          a ...
          a 99