.modal.city-block 
  h3 Выбор города
  button.close-modal 
    img(src="img/icons/icn_m_close-black.svg", alt="")
  //- .categorii__inner.mycustom-scroll(data-mcs-theme="3d-dark")
  .categorii__inner
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы
    a(href="") Популярные анализы