.modal.modal__login#modalLogin.active
  button.close-modal
    img(src="img/icons/icn_m_close-black.svg" alt="")
  img.modal__login-pic(src="img/icons/icn_L_account_circle.svg", alt="")
  h3 Войдите в аккаунт
  p Для записи в медцентр авторизуйтесь в личном кабинете,<br>или зарегистрируйтесь
  .modal__btns 
    button.btn2 Зарегистрироваться
    button.btn Войти 