.modal.modal-send#vacancyModalSend
  button.close-modal 
    img(src="img/icons/icn_m_close-black.svg" alt="")
  img(src="img/dashicons_testimonial.svg", alt="")
  h3 Отклик отправлен
  p Мы свяжемся с вами в ближайшее время