.modal.modal-send#reviewModalSend 
  button.close-modal 
    img(src="img/icons/icn_m_close-black.svg" alt="")
  img(src="img/dashicons_testimonial.svg", alt="")
  h3 Отзыв отправлен
  p Он будет опубликован после проверки информации