// @import "utils/stylesheet";
@import "./node_modules/normalize.css/normalize";

// @import "utils/slick";
@import "utils/variables";
// @import "mixins/media";
@import "utils/swiper-bundle.min";

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.cdnfonts.com/css/craftwork-grotesk");

*,
*::before,
*::after {
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--main-black);
}


a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.6;
  margin: 0;
  &.strong {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.6;
    @media (max-width: 767px) {
      font-size: 20px;
    }
  }
}

ul,
ol {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  padding-left: 15px;
  li {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

figure {
  margin: 48px 0;
  @media (max-width: 767px) {
    font-size: 14px;
    margin: 32px 0;
  }
  img {
    border-radius: 8px;
    overflow: hidden;
  }
}

figcaption {
  font-size: 14px;
  font-weight: 600;
  color: var(--main-blue);
  margin-top: 24px;
  text-align: right;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
  &.hidden {
    display: none;
  }
}

.page-index {
  padding-top: 40px;
  @media (max-width: 1919px) {
    padding-top: 32px;
  }
}

#burger {
  @media (min-width: 768px) {
    display: none;
  }
}

._container {
  max-width: 1760px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 80px;
  @media (max-width: 1279px) {
    padding: 0 20px;
  }
  @media (max-width: 767px) {
    padding: 0 16px;
    box-sizing: border-box;
  }
}

._inner {
  max-width: 1200px;
}

section {
  // margin-bottom: 48px;
  margin-bottom: 180px;
  @media (max-width: 1919px) {
    margin-bottom: 120px;
  }
  @media (max-width: 767px) {
    // margin-bottom: 32px;
    margin-bottom: 80px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.date {
  border-radius: 4px;
  background: #eff9ff;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 19px;
  margin-bottom: 8px;
  color: var(--main-blue);
  align-self: flex-start;
}